Repository boostcampwm2023/iOS04-HeatPick, pull requests merged in 2023-12, with the labels that each got.

#458 지도 스토리 선택 범위 수정
  client/Targets/Presentation/My/Implementations/Sources/MyPage/UserDashboard/MyPageUserDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/Views/SearchMapStoryView.swift
Labels: 📱 Client, 🐞 Fix

#469 UserStatus 순서 수정
  client/Targets/Domain/Entities/Sources/User/UserStatus.swift
Labels: 📱 Client, 🐞 Fix

#473 위치 권한 레이아웃 수정
  client/Targets/Presentation/Auth/Implementations/Sources/LocationAuthority/LocationAuthorityBuilder.swift
  client/Targets/Presentation/Auth/Implementations/Sources/LocationAuthority/LocationAuthorityInteractor.swift
  client/Targets/Presentation/Auth/Implementations/Sources/LocationAuthority/LocationAuthorityRouter.swift
  client/Targets/Presentation/Auth/Implementations/Sources/LocationAuthority/LocationAuthorityViewController.swift
Labels: 📱 Client, 🐞 Fix

#478 Combine Cocoa 추가
  client/Targets/Core/CoreKit/Sources/CombineUtil/ControlPubliser.swift
  client/Targets/Core/CoreKit/Sources/CombineUtil/Publisher+.swift
  client/Targets/Core/CoreKit/Sources/CombineUtil/UIButton+Combine.swift
  client/Targets/Core/CoreKit/Sources/CombineUtil/UIControl+Combine.swift
  client/Targets/Core/CoreKit/Sources/CombineUtil/UITextField+Combine.swift
  client/Targets/Core/CoreKit/Sources/CombineUtil/UITextView+Combine.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignIn/SignInViewController.swift
Labels: 🏗️ Enhancement, 📱 Client

#482 import 경로 수정
  server/src/story/story.controller.ts
Labels: 🖥️ Server, 🐞 Fix

#486 Story, Comment Response 수정
  server/src/comment/comment.controller.ts
  server/src/comment/comment.service.ts
  server/src/comment/dto/request/comment.update.dto.ts
  server/src/comment/dto/response/comment.mentionable.response.dto.ts
  server/src/comment/dto/response/comment.view.response.dto.ts
  server/src/story/dto/request/story.create.request.dto.ts
  server/src/story/dto/request/story.update.request.dto.ts
  server/src/story/dto/response/detail/story.detail.view.data.response.dto.ts
  server/src/story/dto/response/story.create.meta.response.dto.ts
  server/src/story/story.controller.ts
  server/src/story/story.service.ts
  server/src/util/util.comment.update.ts
Labels: 🏗️ Enhancement, 🖥️ Server

#492 언팔로우 비동기처리
  server/src/user/user.service.ts
Labels: 🖥️ Server, 🐞 Fix

#499 좋아요/좋아요 취소 기능 추가
  client/Targets/Core/CoreKit/Resources/APIResponseMock/Story/StoryDetailResponseMock.json
  client/Targets/Data/Network/Story/Sources/DTO/StoryDetailResponseDTO.swift
  client/Targets/Data/Network/Story/Sources/DTO/StoryLikeRequestDTO.swift
  client/Targets/Data/Network/Story/Sources/DTO/StoryLikeResponseDTO.swift
  client/Targets/Data/Network/Story/Sources/DTO/StoryResponseDTO.swift
  client/Targets/Data/Network/Story/Sources/StoryAPI.swift
  client/Targets/Data/Repositories/Sources/StoryRepository.swift
  client/Targets/Domain/Entities/Sources/Story/Story.swift
  client/Targets/Domain/Interfaces/Sources/Repository/StoryRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/StoryUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/StoryUseCase.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/ImageCountButton.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/StoryHeaderView.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailViewController.swift
Labels: 🔨 Feature, 📱 Client

#501 Home/HomeRecommend Interactor 테스트 작성
  client/Plugins/UtilityPlugin/ProjectDescriptionHelpers/Dependency+Test.swift
  client/Targets/Domain/TestUtil/Project.swift
  client/Targets/Domain/TestUtil/Resources/dummy.json
  client/Targets/Domain/TestUtil/Sources/UseCase/RecommendUseCaseMock.swift
  client/Targets/Presentation/Home/Implementations/Project.swift
  client/Targets/Presentation/Home/Implementations/Tests/Sources/Home/HomeInteractorTests.swift
  client/Targets/Presentation/Home/Implementations/Tests/Sources/Home/HomeMock.swift
  client/Targets/Presentation/Home/Implementations/Tests/Sources/RecommendDashboard/HomeRecommendDashboardInteractorTests.swift
  client/Targets/Presentation/Home/Implementations/Tests/Sources/RecommendDashboard/HomeRecommendDashboardMock.swift
  client/Targets/Presentation/Home/Implementations/Tests/Sources/dummy.swift
  client/Targets/Presentation/TestUtil/Project.swift
  client/Targets/Presentation/TestUtil/Resources/dummy.json
  client/Targets/Presentation/TestUtil/Sources/ViewControllableMock.swift
  client/Targets/Presentation/TestUtil/Sources/ViewableRoutingMock.swift
  client/Tuist/ProjectDescriptionHelpers/Project+Templates.swift
  client/graph.png
Labels: 🏗️ Enhancement, 📱 Client

#508 likebutton 이미지 눌렸을 때 채우도록 변경
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/ImageCountButton.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/StoryHeaderView.swift
Labels: 🏗️ Enhancement, 📱 Client

#506 mention 기능 추가
  client/Targets/Domain/Entities/Sources/Comment/MentionUser.swift
  client/Targets/Presentation/Story/Implementations/Sources/Comment/CommentInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/Comment/CommentViewController.swift
  client/Targets/Presentation/Story/Implementations/Sources/Comment/Components/CommentTableViewCell.swift
  client/Targets/Presentation/Story/Implementations/Sources/Comment/Components/MentioneeView.swift
Labels: 🔨 Feature, 📱 Client

#511 db 연결 관련 timeout 설정
  server/src/db/database.providers.ts
Labels: 🏗️ Enhancement, 🖥️ Server

#512 친구 추천, Combine+Gesture 추가
  client/Targets/Core/CoreKit/Sources/CombineUtil/ActionPublisher.swift
  client/Targets/Core/CoreKit/Sources/CombineUtil/UIGestureRecognizer+Combine.swift
  client/Targets/Core/CoreKit/Sources/CombineUtil/UIView+Combine.swift
  client/Targets/Data/Network/Home/Sources/DTO/UserRecommendResponseDTO.swift
  client/Targets/Data/Network/Home/Sources/HomeAPI.swift
  client/Targets/Data/Repositories/Sources/HomeRepository.swift
  client/Targets/Domain/Entities/Sources/User/UserRecommend.swift
  client/Targets/Domain/Interfaces/Sources/Repository/HomeRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Home/HomeUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Home/UserRecommendUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/HomeUseCase.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FriendDashboard/HomeFriendDashboardBuilder.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FriendDashboard/HomeFriendDashboardInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FriendDashboard/HomeFriendDashboardViewController.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FriendDashboard/Views/HomeFriendContentView.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeBuilder.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeViewController.swift
  client/Targets/Presentation/Home/Implementations/Tests/Sources/Home/HomeInteractorTests.swift
Labels: 🔨 Feature, 📱 Client

#515 지도 레이아웃 계층 구조 수정
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchViewController.swift
Labels: 📱 Client, 🐞 Fix

#516 스토리 삭제
  client/Targets/Data/Network/Story/Sources/DTO/StoryDeleteRequestDTO.swift
  client/Targets/Data/Network/Story/Sources/StoryAPI.swift
  client/Targets/Data/Repositories/Sources/StoryRepository.swift
  client/Targets/DesignSystem/DesignKit/Sources/Views/NavigationViewButtonType.swift
  client/Targets/Domain/Interfaces/Sources/Repository/StoryRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/StoryUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/StoryUseCase.swift
  client/Targets/Presentation/Following/Implementations/Sources/FollowingHome/FollowingHomeInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/MyPageInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailViewController.swift
  client/Targets/Presentation/Story/Interfaces/Sources/StoryInterface.swift
Labels: 🔨 Feature, 📱 Client

#519 story/meta API 업데이트
  client/Targets/Data/Network/Story/Sources/DTO/MetadataResponseDTO.swift
Labels: 📱 Client, 🐞 Fix

#513 외부 repo 의존성 제거
  server/src/category/category.module.ts
  server/src/category/category.service.ts
  server/src/comment/comment.controller.ts
  server/src/comment/comment.module.ts
  server/src/comment/comment.service.ts
  server/src/comment/dto/request/comment.update.dto.ts
  server/src/entities/comment.entity.ts
  server/src/entities/story.entity.ts
  server/src/entities/user.entity.ts
  server/src/story/dto/response/story.create.meta.response.dto.ts
  server/src/story/story.controller.ts
  server/src/story/story.module.ts
  server/src/story/story.service.ts
  server/src/user/user.controller.ts
  server/src/user/user.module.ts
  server/src/user/user.service.ts
Labels: 🏗️ Enhancement, 🖥️ Server

#523 updateMeta 수정, 좌표의 자릿수 확장
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.ts
  server/src/entities/place.entity.ts
  server/src/user/user.service.ts
  server/src/util/util.create.story.entity.ts
  server/src/util/util.save.image.local.ts
  server/src/util/util.story.update.ts
Labels: 🏗️ Enhancement, 🖥️ Server

#525 트랜잭션 적용
  server/package-lock.json
  server/package.json
  server/src/comment/comment.service.ts
  server/src/main.ts
  server/src/place/place.service.ts
  server/src/search/search.service.ts
  server/src/story/story.service.ts
  server/src/user/user.service.ts
Labels: 🏗️ Enhancement, 🖥️ Server

#528 스토리 상세, 에디터, 댓글 alert 메세지 수정
  client/Targets/Core/FoundationKit/Sources/Alert/AlertType.swift
  client/Targets/Presentation/Story/Implementations/Sources/Comment/CommentInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/Comment/CommentViewController.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailViewController.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorViewController.swift
Labels: 🏗️ Enhancement, 📱 Client

#529 cloud search 활용 자동완성 구현
  .github/workflows/test-actions.yml
  server/package-lock.json
  server/package.json
  server/src/search/search.controller.ts
  server/src/search/search.service.ts
  server/src/util/make.signature.ts
Labels: 🔨 Feature, 🖥️ Server

#531 트랜잭션 내에서는 비동기 처리
  server/src/category/category.service.ts
  server/src/user/user.service.ts
Labels: 🖥️ Server, 🐞 Fix

#534 유저 추천 시 access 토큰을 디코드하여 사용하게 변경
  server/src/user/user.controller.ts
Labels: 🖥️ Server, 🐞 Fix

#540 카테고리 리턴 기능 추가
  server/src/category/category.controller.ts
  server/src/category/category.module.ts
  server/src/category/dto/response/get.category.return.dto.ts
Labels: 🔨 Feature, 🖥️ Server

#541 story 생성시 badge정보도 함께 응답
  server/src/story/dto/response/story-create-response.dto.ts
  server/src/story/story.controller.ts
  server/src/story/story.service.ts
Labels: 🏗️ Enhancement, 🖥️ Server

#543 현재 위치 스토리 리스트 추가
  client/Targets/Domain/Interfaces/Sources/UseCase/Search/SearchCurrentLocationStoryList/SearchCurrentLocationStoryListUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/SearchUseCase.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/MyPageInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchCurrentLocationStoryList/SearchCurrentLocationStoryListBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchCurrentLocationStoryList/SearchCurrentLocationStoryListInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchCurrentLocationStoryList/SearchCurrentLocationStoryListViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchCurrentLocationStoryList/Views/SearchCurrentLocationStoryEmptyView.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchCurrentLocationStoryList/Views/SearchCurrentLocationStoryListCell.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchRouter.swift
Labels: 🔨 Feature, 📱 Client

#544 #485 feat/green eye adapt
  .github/workflows/test-actions.yml
  server/src/exception/custom.exception/image.unhealty.exception.ts
  server/src/story/story.service.ts
Labels: 🔨 Feature, 🖥️ Server

#547 깃허브 로그인 구현
  server/src/auth/auth.service.ts
Labels: 🔨 Feature, 🖥️ Server

#550 네이버/깃허브 로그인 분리
  server/src/auth/auth.controller.ts
  server/src/auth/auth.service.ts
Labels: 🔨 Feature, 🖥️ Server

#548 깃헙 로그인 추가
  client/Plugins/UtilityPlugin/ProjectDescriptionHelpers/Dependency+Data.swift
  client/Targets/App/Info.plist
  client/Targets/App/Sources/App/AppDelegate.swift
  client/Targets/App/Sources/AppRoot/AppRootComponent.swift
  client/Targets/Core/FoundationKit/Sources/SecretUtil/Secret.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/NetworkHeader.swift
  client/Targets/Data/Network/Github/Project.swift
  client/Targets/Data/Network/Github/Sources/DTO/AccessTokenRequestDTO.swift
  client/Targets/Data/Network/Github/Sources/DTO/AccessTokenResponseDTO.swift
  client/Targets/Data/Network/Github/Sources/GithubAPI.swift
  client/Targets/Data/Network/Github/Tests/Sources/dummy.swift
  client/Targets/Data/Network/NetworkAPIs/Project.swift
  client/Targets/Data/Repositories/Sources/GithubLoginRepository.swift
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/githubButton.imageset/Contents.json
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/githubButton.imageset/Group 802.pdf
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/naverButton.imageset/Group 801.pdf
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/naverButton.imageset/naverButton.pdf
  client/Targets/DesignSystem/DesignKit/Sources/Image/UIImage+DesignSystem.swift
  client/Targets/Domain/Interfaces/Sources/Repository/GithubLoginRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/AuthUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/SignInUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/AuthUseCase.swift
  client/Targets/Domain/UseCases/Sources/SignInUseCase.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignIn/SignInInteractor.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignIn/SignInViewController.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignIn/Views/SignInButton.swift
  client/graph.png
Labels: 🔨 Feature, 📱 Client

#554 Naver, GitHub 로그인 분리
  client/Targets/Data/Network/Auth/Sources/AuthAPI.swift
  client/Targets/Data/Repositories/Sources/AuthRepository.swift
  client/Targets/Domain/Entities/Sources/Auth/SignInService.swift
  client/Targets/Domain/Interfaces/Sources/Repository/AuthRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/AuthUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/AuthUseCase.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignIn/SignInInteractor.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignIn/SignInRouter.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignUp/SignUpBuilder.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignUp/SignUpInteractor.swift
Labels: 🏗️ Enhancement, 📱 Client

#561 회원 탈퇴 swagger 수정, isFollow는 boolean값으로 변경
  server/src/user/dto/request/user.delete.dto.ts
  server/src/user/dto/response/user.profile.detail.data.dto.ts
  server/src/user/user.controller.ts
  server/src/user/user.service.ts
Labels: 🏗️ Enhancement, 🖥️ Server

#563 fcm 토큰을 저장하는 api 생성
  server/src/exception/custom.exception/fcm-token-save-failed.exception.ts
  server/src/notification/dto/save-token-request.dto.ts
  server/src/notification/notification.controller.ts
  server/src/notification/notification.module.ts
  server/src/notification/notification.service.ts
Labels: 🔨 Feature, 🖥️ Server

#558 탈퇴하기
  client/Targets/Data/Network/My/Sources/DTO/MyProfileResignRequestDTO.swift
  client/Targets/Data/Network/My/Sources/MyAPI.swift
  client/Targets/Data/Repositories/Sources/MyPageRepository.swift
  client/Targets/Domain/Interfaces/Sources/Repository/MyPageRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/My/MyPageUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/My/Setting/MyProfileResignUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/My/Setting/MyProfileSettingUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/MyPageUseCase.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/MyPageDependency.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/MyPageInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/UpdateUserDashboard/MyPageUpdateUserDashboardViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/Setting/ResignDashboard/ResignDashboardBuilder.swift
  client/Targets/Presentation/My/Implementations/Sources/Setting/ResignDashboard/ResignDashboardInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/Setting/ResignDashboard/ResignDashboardRouter.swift
  client/Targets/Presentation/My/Implementations/Sources/Setting/ResignDashboard/ResignDashboardViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/Setting/SettingBuilder.swift
  client/Targets/Presentation/My/Implementations/Sources/Setting/SettingDependency.swift
  client/Targets/Presentation/My/Implementations/Sources/Setting/SettingInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/Setting/SettingRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterDependency.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeCategoryDashboard/SearchBeforeCategoryDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeCategoryDashboard/SearchBeforeCategoryDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeCategoryDashboard/SearchBeforeCategoryDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeCategoryDashboard/Views/SearchBeforeCategoryView.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/SearchBeforeRecentSearchesDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/SearchBeforeRecentSearchesDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchResultBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchResultDependency.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchResultInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchResultRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchResultViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchingDashboard/SearchingDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchingDashboard/SearchingDashboardInteractor.swift
Labels: 🔨 Feature, 📱 Client

#568 게시글에 댓글이 달리면 알림이 가도록 구현
  server/src/comment/comment.module.ts
  server/src/comment/comment.service.ts
Labels: 🔨 Feature, 🖥️ Server

#574 검색 카테고리 구현
  client/Targets/Data/Network/Search/Sources/DTO/CategoryResponseDTO.swift
  client/Targets/Data/Network/Search/Sources/DTO/SearchResultRequestDTO.swift
  client/Targets/Data/Network/Search/Sources/SearchAPI.swift
  client/Targets/Data/Network/Search/Sources/URLProtocols/SearchURLProtocol.swift
  client/Targets/Data/Repositories/Sources/SearchRepository.swift
  client/Targets/Domain/Entities/Sources/Search/SearchCategory.swift
  client/Targets/Domain/Entities/Sources/Search/SearchRequest.swift
  client/Targets/Domain/Interfaces/Sources/Repository/Search/SearchResult/SearchAfter/SearchResultSearchAfterRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/Repository/Search/SearchResult/SearchBefore/SearchResultSearchBeforeRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Search/SearchResult/SearchAfter/SearhResultSearchAfterUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Search/SearchResult/SearchBefore/SearchBeforeCategoryUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Search/SearchResult/SearchBefore/SearhResultSearchBeforeUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/SearchUseCase.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeCategoryDashboard/SearchBeforeCategoryDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeCategoryDashboard/SearchBeforeCategoryDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeCategoryDashboard/Views/SearchBeforeCategoryView.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/SearchBeforeRecentSearchesDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/SearchBeforeRecentSearchesDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/Views/SearchBeforeRecentSearchView.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchResultInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchResultViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchingDashboard/SearchingDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/Views/SearchNavigationView.swift
Labels: 🏗️ Enhancement, 🔨 Feature, 📱 Client

#579 회원 탈퇴 시 재가입 가능하게 수정
  server/src/entities/user.entity.ts
  server/src/user/user.service.ts
Labels: 🖥️ Server, 🐞 Fix

#577 회원 탈퇴 구현
  client/Targets/Core/FoundationKit/Sources/Alert/AlertType.swift
  client/Targets/Data/Network/My/Sources/DTO/MyProfileResignRequestDTO.swift
  client/Targets/Data/Network/My/Sources/DTO/MyProfileResponseDTO.swift
  client/Targets/Data/Network/My/Sources/MyAPI.swift
  client/Targets/Data/Repositories/Sources/MyPageRepository.swift
  client/Targets/Domain/Entities/Sources/My/MyPage.swift
  client/Targets/Domain/Interfaces/Sources/Repository/MyPageRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/My/Setting/MyProfileResignUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/MyPageUseCase.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignUp/SignUpInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/Setting/ResignDashboard/ResignDashboardInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/Setting/ResignDashboard/ResignDashboardViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/Setting/SettingInteractor.swift
Labels: 🏗️ Enhancement, 📱 Client

#582 회원 탈퇴 시 follower, following까지 반영
  server/src/story/story.controller.ts
  server/src/story/story.service.ts
  server/src/user/user.service.ts
Labels: 🖥️ Server, 🐞 Fix

#584 탈퇴 시 활동 내역 삭제 후 user정보 삭제
  server/src/user/user.service.ts
Labels: 🖥️ Server, 🐞 Fix

#594 홈 친구 추천에서 프로필 화면 연결
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeBuilder.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeRouter.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeRouterComponent.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeRouterDependency.swift
Labels: 🏗️ Enhancement, 📱 Client

#596 팔로잉 Empty UI 추가, Refresh 추가
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/empty.imageset/Contents.json
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/empty.imageset/empty@1x.png
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/empty.imageset/empty@2x.png
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/empty.imageset/empty@3x.png
  client/Targets/DesignSystem/DesignKit/Sources/Image/UIImage+DesignSystem.swift
  client/Targets/Presentation/Following/Implementations/Sources/FollowingList/FollowingListInteractor.swift
  client/Targets/Presentation/Following/Implementations/Sources/FollowingList/FollowingListViewController.swift
  client/Targets/Presentation/Following/Implementations/Sources/FollowingList/Views/FollowingEmptyView.swift
Labels: 🏗️ Enhancement, 🔨 Feature, 📱 Client

#599 스토리 생성 시 이미지 필요하도록 추가
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/ImageField.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorViewController.swift
Labels: 🏗️ Enhancement, 📱 Client

#604 앱 아이콘 추가, 로고 변경
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/1024.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/114.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/120.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/180.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/29.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/40.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/57.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/58.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/60.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/80.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/87.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/contents.json
  client/Targets/App/Resources/Assets.xcassets/logo.imageset/Contents.json
  client/Targets/App/Resources/Assets.xcassets/logo.imageset/Logo@1x.png
  client/Targets/App/Resources/Assets.xcassets/logo.imageset/Logo@2x.png
  client/Targets/App/Resources/Assets.xcassets/logo.imageset/Logo@3x.png
  client/Targets/App/Resources/Assets.xcassets/logo.imageset/logo.png
  client/Targets/App/Resources/Assets.xcassets/logo.imageset/logo@2x.png
  client/Targets/App/Resources/Assets.xcassets/logo.imageset/logo@3x.png
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/logoWithSubtitle.imageset/Contents.json
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/logoWithSubtitle.imageset/LogoWithSubTitle@1x.png
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/logoWithSubtitle.imageset/LogoWithSubTitle@2x.png
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/logoWithSubtitle.imageset/LogoWithSubTitle@3x.png
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/logoWithSubtitle.imageset/logo.png
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/logoWithSubtitle.imageset/logo@2x.png
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/logoWithSubtitle.imageset/logo@3x.png
Labels: 🏗️ Enhancement, 📱 Client

#603 story 생성시 badge이모티콘까지 badgename에 추가
  server/src/story/dto/response/story-create-response.dto.ts
  server/src/story/story.service.ts
Labels: 🏗️ Enhancement, 🖥️ Server

#589 프로필화면에서 팔로잉 로직 추가
  client/Targets/App/Sources/AppRoot/AppRootComponent.swift
  client/Targets/Data/Network/My/Sources/DTO/FollowRequestDTO.swift
  client/Targets/Data/Network/My/Sources/DTO/MyProfileResponseDTO.swift
  client/Targets/Data/Network/My/Sources/DTO/UserMetaDataResponseDTO.swift
  client/Targets/Data/Network/My/Sources/MyAPI.swift
  client/Targets/Data/Repositories/Sources/MyPageRepository.swift
  client/Targets/Domain/Entities/Sources/My/MyPageProfile.swift
  client/Targets/Domain/Entities/Sources/My/MyProfile.swift
  client/Targets/Domain/Entities/Sources/My/Profile.swift
  client/Targets/Domain/Entities/Sources/My/ProfileUpdateMetaData.swift
  client/Targets/Domain/Entities/Sources/My/ProfileUpdateMetaDataBadge.swift
  client/Targets/Domain/Entities/Sources/My/UserProfile.swift
  client/Targets/Domain/Interfaces/Sources/Repository/MyPageRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/My/MyPageProfileUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/My/MyPageUpdateUserUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/My/MyPageUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/My/UserProfileUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/MyPageUseCase.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/MyPageInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/UpdateUserDashboard/MyPageUpdateUserDashboardInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/UpdateUserDashboard/MyPageUpdateUserDashboardViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/UpdateUserDashboard/Views/Cells/MyPageUpdateUserBadgeCell.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/UpdateUserDashboard/Views/MyPageupdateUserTableHeaderView.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/UserDashboard/MyPageUserDashboardInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/UserDashboard/MyPageUserDashboardViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/UserDashboard/Views/MyPageUserView.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserDashboard/UserProfileUserDashboardInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserProfileDependency.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserProfileInteractor.swift
Labels: 🏗️ Enhancement, 📱 Client

#606 비동기적 예외 수정, 자잘한 버그 수정
  server/src/comment/comment.service.ts
  server/src/story/story.controller.ts
  server/src/story/story.service.ts
  server/src/user/user.service.ts
Labels: 🏗️ Enhancement, 🖥️ Server, 🐞 Fix

#591 추천 스토리 쿼리 최적화
  server/src/db/database.providers.ts
  server/src/story/story.service.ts
Labels: 🏗️ Enhancement, 🔨 Feature, 🖥️ Server

#612 FCM 비활성화
  server/src/comment/comment.service.ts
  server/src/user/user.service.ts
Labels: 🖥️ Server, 🐞 Fix

#613 AppIcon 수정
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/114.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/120 1.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/152.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/167.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/20.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/40 1.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/40 2.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/57.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/58 1.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/76.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/80 1.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/contents.json
Labels: 📱 Client, 🐞 Fix

#614 탈퇴한 유저 스토리 제거하여 리턴
  server/src/search/search.controller.ts
  server/src/util/story.entity.to.obj.ts
Labels: 🖥️ Server, 🐞 Fix

#615 스토리 추천 기능에서 null 데이터 제거
  server/src/story/story.service.ts
Labels: 🖥️ Server, 🐞 Fix

#618 FCM에서 에러가 나도 응답이 가도록 수정
  server/src/comment/comment.service.ts
  server/src/notification/notification.service.ts
  server/src/user/user.service.ts
Labels: 🖥️ Server, 🐞 Fix

#619 지도 검색 라우팅 추가
  client/Targets/Core/CoreKit/Sources/CoreUtil/String+.swift
  client/Targets/Data/Network/Search/Sources/DTO/NaverSearchLocalRequestDTO.swift
  client/Targets/Data/Network/Search/Sources/DTO/NaverSearchLocalResponseDTO.swift
  client/Targets/Domain/Entities/Sources/Search/SearchLocal.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterLocalDashboard/SearchAfterLocalDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterLocalDashboard/SearchAfterLocalDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterLocalDashboard/Views/SearchAfterLocalView.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchResultInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchViewController.swift
Labels: 🔨 Feature, 📱 Client

#620 권한 플로우 수정, 권한 설정 추가
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/1024.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/120 1.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/120.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/152.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/167.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/180.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/20.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/29.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/40 1.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/40 2.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/40.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/58 1.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/58.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/60.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/76.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/80 1.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/80.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/87.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/appicon.png
  client/Targets/App/Resources/Assets.xcassets/AppIcon.appiconset/contents.json
  client/Targets/App/Sources/AppRoot/AppRootComponent.swift
  client/Targets/Data/Repositories/Sources/LocationService.swift
  client/Targets/Domain/Entities/Sources/Auth/NotificationPermission.swift
  client/Targets/Domain/Interfaces/Sources/Repository/LocationServiceInterface.swift
  client/Targets/Domain/Interfaces/Sources/Repository/NotificationServiceInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/AuthUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/LocationAuthorityUseCaseInterfaces.swift
  client/Targets/Domain/UseCases/Sources/AuthUseCase.swift
  client/Targets/Domain/UseCases/Sources/LocationAuthorityUseCase.swift
  client/Targets/Domain/UseCases/Sources/NotificationPermissionUseCase.swift
  client/Targets/Presentation/Auth/Implementations/Sources/LocationAuthority/LocationAuthorityInteractor.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignIn/SignInInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/MyPageDependency.swift
  client/Targets/Presentation/My/Implementations/Sources/Setting/ResignDashboard/ResignDashboardViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/Setting/SettingDependency.swift
  client/Targets/Presentation/My/Implementations/Sources/Setting/SettingInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/Setting/SettingViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/Setting/Views/SettingContentView.swift
Labels: 📱 Client, ⚙️ Environment

#623 앱 새로 설치했을 때 재로그인 하도록 변경
  client/Targets/Core/FoundationKit/Sources/UserDefaults/UserDefaults+Key.swift
  client/Targets/Domain/UseCases/Sources/AuthUseCase.swift
Labels: 🏗️ Enhancement, 📱 Client

#626 Profile 수정 Image 없으면 기존 프로필 이미지 유지
  server/src/user/user.service.ts
Labels: 🖥️ Server, 🐞 Fix

#627 글 작성 날짜, 좋아요, 댓글 수를 고려하여 추천하도록 변경
  server/src/story/story.service.ts
Labels: 🔨 Feature, 🖥️ Server

#632 저장 버튼 연속 동작 버그 수정
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/StoryHeaderView.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailViewController.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorViewController.swift
Labels: 📱 Client, 🐞 Fix

#630 카테고리 설명도 리턴
  server/src/auth/auth.controller.ts
  server/src/auth/auth.service.ts
  server/src/entities/category.entity.ts
Labels: 🔨 Feature, 🖥️ Server

#634 다음 뱃지 정보도 리턴
  server/src/user/dto/response/user.profile.detail.data.dto.ts
  server/src/user/user.controller.ts
  server/src/user/user.service.ts
  server/src/util/util.string.to.badge.content.ts
Labels: 🔨 Feature, 🖥️ Server

#641 탈퇴한 회원의 댓글 예외처리
  server/src/comment/dto/response/comment.view.response.dto.ts
Labels: 🖥️ Server, 🐞 Fix

#639 중복 체크에서 닉네임만 체크하도록 변경
  server/src/auth/auth.controller.ts
  server/src/auth/auth.service.ts
Labels: 🏗️ Enhancement, 🖥️ Server

#644 삭제된 스토리까지 불러와 연관 해제
  server/src/user/user.service.ts
Labels: 🖥️ Server, 🐞 Fix

#643 스토리 상세 QA 수정
  client/Targets/Presentation/Story/Implementations/Sources/Comment/Components/CommentTableViewCell.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/ImageCountButton.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/StoryHeaderView.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailViewController.swift
Labels: 🏗️ Enhancement, 📱 Client, 🐞 Fix

#648 Null story 제거하고 리턴하도록 변경
  server/src/story/story.service.ts
Labels: 🏗️ Enhancement, 🖥️ Server

#646 프로필 완전 수정
  client/Targets/Presentation/BasePresentation/Sources/Common/SeeAllView.swift
  client/Targets/Presentation/BasePresentation/Sources/Story/StorySeeAll/StorySeeAllViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/StoryDashboard/MyPageStoryDashboardBuilder.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/StoryDashboard/MyPageStoryDashboardInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/StoryDashboard/MyPageStoryDashboardRouter.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/MyPageBuilder.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/MyPageDependency.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/MyPageInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/MyPageRouter.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/MyPageViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UpdateUserDashboard/MyPageUpdateUserDashboardBuilder.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UpdateUserDashboard/MyPageUpdateUserDashboardInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UpdateUserDashboard/MyPageUpdateUserDashboardRouter.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UpdateUserDashboard/MyPageUpdateUserDashboardViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UpdateUserDashboard/Views/Cells/MyPageUpdateUserBadgeCell.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UpdateUserDashboard/Views/MyPageUpdateUserBasicInformationView.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UpdateUserDashboard/Views/MyPageUpdateUserProfileView.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UpdateUserDashboard/Views/MyPageupdateUserTableHeaderView.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UserDashboard/MyPageUserDashboardBuilder.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UserDashboard/MyPageUserDashboardInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UserDashboard/MyPageUserDashboardRouter.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UserDashboard/MyPageUserDashboardViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UserDashboard/Views/MyProfileUserView.swift
  client/Targets/Presentation/My/Implementations/Sources/Profile/SeeAll/ProfileStoryDashboard/ProfileStoryDashboardSeeAllBuilder.swift
  client/Targets/Presentation/My/Implementations/Sources/Profile/SeeAll/ProfileStoryDashboard/ProfileStoryDashboardSeeAllInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/Profile/SeeAll/ProfileStoryDashboard/ProfileStoryDashboardSeeAllRouter.swift
  client/Targets/Presentation/My/Implementations/Sources/Profile/StoryDashboard/ProfileStoryDashboardBuilder.swift
  client/Targets/Presentation/My/Implementations/Sources/Profile/StoryDashboard/ProfileStoryDashboardInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/Profile/StoryDashboard/ProfileStoryDashboardRouter.swift
  client/Targets/Presentation/My/Implementations/Sources/Profile/StoryDashboard/ProfileStoryDashboardViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/Profile/StoryDashboard/Views/ProfileStoryEmptyView.swift
  client/Targets/Presentation/My/Implementations/Sources/Profile/Views/ProfileBadgeView.swift
  client/Targets/Presentation/My/Implementations/Sources/Profile/Views/ProfileTemperatureView.swift
  client/Targets/Presentation/My/Implementations/Sources/Profile/Views/ProfileUserContnetView.swift
  client/Targets/Presentation/My/Implementations/Sources/SeeAll/MyPageStory/MyPageStorySeeAllBuilder.swift
  client/Targets/Presentation/My/Implementations/Sources/SeeAll/MyPageStory/MyPageStorySeeAllRouter.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserDashboard/UserProfileUserDashboardBuilder.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserDashboard/UserProfileUserDashboardInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserDashboard/UserProfileUserDashboardRouter.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserDashboard/UserProfileUserDashboardViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserDashboard/Views/UserProfileUserView.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserProfileBuilder.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserProfileDependency.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserProfileInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserProfileRouter.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserProfileViewController.swift
Labels: 🏗️ Enhancement, 📱 Client

#650 null 스토리 제거
  server/src/auth/auth.controller.ts
  server/src/search/search.controller.ts
  server/src/story/story.service.ts
Labels: 🖥️ Server, 🐞 Fix

#649 검색 탭 버그 수정
  client/Targets/Core/FoundationKit/Sources/UserDefaults/UserDefaults+.swift
  client/Targets/Core/FoundationKit/Sources/UserDefaults/UserDefaults+Key.swift
  client/Targets/Data/Network/Search/Sources/DTO/SearchRecommendResponseDTO.swift
  client/Targets/Data/Network/Search/Sources/DTO/SearchRequestDTO.swift
  client/Targets/Data/Network/Search/Sources/DTO/SearchStroyDTO.swift
  client/Targets/Data/Network/Search/Sources/DTO/SearchStroyResponseDTO.swift
  client/Targets/Data/Network/Search/Sources/SearchAPI.swift
  client/Targets/Data/Network/Search/Sources/URLProtocols/SearchURLProtocol.swift
  client/Targets/Data/Repositories/Sources/SearchRepository.swift
  client/Targets/Domain/Interfaces/Sources/Repository/Search/SearchSeeAllRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Search/SearchSeeAll/SearchStorySeeAllUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Search/SearchSeeAll/SearchUserSeeAllUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/SearchUseCase.swift
  client/Targets/Presentation/BasePresentation/Sources/Story/StorySeeAll/StorySeeAllViewController.swift
  client/Targets/Presentation/BasePresentation/Sources/User/Cells/UserSmallTableViewCell.swift
  client/Targets/Presentation/BasePresentation/Sources/User/UserSeeAll/UserSeeAllPresentable.swift
  client/Targets/Presentation/BasePresentation/Sources/User/UserSeeAll/UserSeeAllViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterLocalDashboard/SearchAfterLocalDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterUserDashboard/SearchAfterUserDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterUserDashboard/Views/SearchAfterUserView.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchResultViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SeeAll/Story/SearchStorySeeAllInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SeeAll/User/SearchUserSeeAllInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/Views/SearchMapSearchView.swift
Labels: 🔨 Feature, 📱 Client, 🐞 Fix

#651 연관된 story, comment 제거
  server/src/entities/comment.entity.ts
  server/src/user/user.service.ts
Labels: 🖥️ Server, 🐞 Fix

#652 피드백 반영
  client/Targets/Data/Network/Auth/Sources/AuthAPI.swift
  client/Targets/Data/Network/Auth/Sources/DTO/CheckUserNameReqeustDTO.swift
  client/Targets/Data/Network/My/Sources/DTO/CheckUserNameReqeustDTO.swift
  client/Targets/Data/Network/My/Sources/MyAPI.swift
  client/Targets/Data/Repositories/Sources/AuthRepository.swift
  client/Targets/Data/Repositories/Sources/MyProfileRepository.swift
  client/Targets/Data/Repositories/Sources/SearchRepository.swift
  client/Targets/Domain/Entities/Sources/My/UserUpdateContent.swift
  client/Targets/Domain/Interfaces/Sources/Repository/AuthRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/Repository/Profile/MyProfileRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/Repository/Search/SearchResult/SearchBefore/SearchResultSearchBeforeRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/AuthUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Profile/MyProfile/MyProfileUpdateUserUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Search/SearchResult/SearchBefore/SearchBeforeRecentSearchesUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/AuthUseCase.swift
  client/Targets/Domain/UseCases/Sources/MyProfileUseCase.swift
  client/Targets/Domain/UseCases/Sources/SearchUseCase.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignUp/SignUpInteractor.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignUp/SignUpViewController.swift
  client/Targets/Presentation/BasePresentation/Sources/Common/AdaptivePresentationControllerDelegateAdapter.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FollowingDashboard/Views/HomeFollwoingProfileView.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FriendDashboard/Views/HomeFriendContentView.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/MyPageDependency.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/MyPageInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/MyPageRouter.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UpdateUserDashboard/MyPageUpdateUserDashboardBuilder.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UpdateUserDashboard/MyPageUpdateUserDashboardInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UpdateUserDashboard/MyPageUpdateUserDashboardRouter.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UpdateUserDashboard/MyProfileUpdateUserDashboardBuilder.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UpdateUserDashboard/MyProfileUpdateUserDashboardInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UpdateUserDashboard/MyProfileUpdateUserDashboardRouter.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UpdateUserDashboard/MyProfileUpdateUserDashboardViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UpdateUserDashboard/Views/Cells/MyProfileUpdateUserBadgeCell.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UpdateUserDashboard/Views/MyProfileUpdateUserBasicInformationView.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UpdateUserDashboard/Views/MyProfileupdateUserTableHeaderView.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UserDashboard/Views/MyProfileUserView.swift
  client/Targets/Presentation/My/Implementations/Sources/Profile/StoryDashboard/Views/ProfileStoryEmptyView.swift
  client/Targets/Presentation/My/Implementations/Sources/Profile/Views/ProfileUserContnetView.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserDashboard/Views/UserProfileUserView.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/SearchBeforeRecentSearchesDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/SearchBeforeRecentSearchesDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/Views/SearchBeforeRecentSearchView.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/SimpleUserProfileView.swift
Labels: 🏗️ Enhancement, 🔨 Feature, 📱 Client

#656 temperature implementation
  server/src/auth/auth.service.ts
  server/src/entities/user.entity.ts
  server/src/user/user.service.ts
  server/src/util/calculate.temper.ts
Labels: 🔨 Feature, 🖥️ Server

#658 온도 API 변경 반영
  client/Targets/Data/Network/My/Sources/DTO/MyProfileResponseDTO.swift
  client/Targets/Domain/Entities/Sources/My/MyProfile.swift
  client/Targets/Domain/Entities/Sources/My/Profile.swift
  client/Targets/Domain/Entities/Sources/My/UserProfile.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UserDashboard/MyPageUserDashboardInteractor.swift
Labels: 📱 Client, 🐞 Fix

#661 다른 유저의 프로필에도 소수점 제거
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserDashboard/UserProfileUserDashboardInteractor.swift
Labels: 📱 Client, 🐞 Fix

#662 홈 탭 QA
  client/Targets/Domain/Entities/Sources/Home/HomeFollowingStory.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FollowingDashboard/HomeFollowingDashboardInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FollowingDashboard/HomeFollowingDashboardViewController.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HotPlaceDashboard/HomeHotPlaceDashboardViewController.swift
Labels: 🏗️ Enhancement, 📱 Client, 🐞 Fix

#664 자잘한 버그 수정
  client/Targets/App/Sources/AppRoot/AppRootTabBarController.swift
  client/Targets/Core/FoundationKit/Sources/Alert/AlertType.swift
  client/Targets/Data/Repositories/Sources/ClusteringOperation.swift
  client/Targets/Data/Repositories/Sources/ClusteringService.swift
  client/Targets/Data/Repositories/Sources/LocationService.swift
  client/Targets/DesignSystem/DesignKit/Sources/TextFields/SearchTextField.swift
  client/Targets/DesignSystem/DesignKit/Sources/Views/NavigationView.swift
  client/Targets/Domain/Entities/Sources/Home/RecommendPlace.swift
  client/Targets/Domain/Entities/Sources/Home/RecommendStory.swift
  client/Targets/Domain/UseCases/Sources/HomeUseCase.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignIn/SignInViewController.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignUp/SignUpViewController.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FollowingDashboard/HomeFollowingDashboardViewController.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/RecommendDashboard/HomeRecommendDashboardInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/RecommendDashboard/HomeRecommendDashboardViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UpdateUserDashboard/MyProfileUpdateUserDashboardViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UpdateUserDashboard/Views/MyProfileUpdateUserBasicInformationView.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserDashboard/UserProfileUserDashboardViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserProfileInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserProfileViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/Views/SearchNavigationView.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/Views/SearchMapReSearchView.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryCreateSuccess/Components/RollingCharView.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/ImageField.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/ImageSelector.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorViewController.swift
Labels: 🏗️ Enhancement, 📱 Client, 🐞 Fix

#666 mention시 알림 요청 추가
  server/src/comment/comment.service.ts
Labels: 🔨 Feature, 🖥️ Server

#668 fix demo bugs
  server/src/story/story.service.ts
  server/src/user/user.service.ts
  server/src/util/util.string.to.badge.content.ts
Labels: 🖥️ Server, 🐞 Fix

#672 스토리 생성 가이드 추가
  client/Targets/Core/FoundationKit/Sources/UserDefaults/UserDefaults+Key.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Search/SearchMap/SearchMapUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/SearchUseCase.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/Views/SearchStoryGuideView.swift
Labels: 🏗️ Enhancement, 🔨 Feature, 📱 Client

#673 #671 feat/badge max and location recommend modify
  server/src/story/story.service.ts
  server/src/user/user.service.ts
Labels: 🔨 Feature, 🖥️ Server

#675 팔로잉 숫자 리턴
  server/src/story/story.service.ts
  server/src/user/dto/response/user.profile.detail.data.dto.ts
  server/src/user/user.service.ts
Labels: 🔨 Feature, 🖥️ Server

#677 팔로워 오타 수정
  server/src/user/user.service.ts
Labels: 🖥️ Server, 🐞 Fix

#678 팔로잉/팔로워 리스트 표시
  client/Targets/App/Sources/AppRoot/AppRootComponent.swift
  client/Targets/Core/FoundationKit/Sources/Alert/AlertType.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/NetworkProvider.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/Task.swift
  client/Targets/Data/Network/My/Sources/DTO/FollowListResponseDTO.swift
  client/Targets/Data/Network/My/Sources/DTO/MyProfileResponseDTO.swift
  client/Targets/Data/Network/My/Sources/MyAPI.swift
  client/Targets/Data/Repositories/Sources/MyProfileRepository.swift
  client/Targets/Data/Repositories/Sources/UserProfileRepository.swift
  client/Targets/Domain/Entities/Sources/My/MyProfile.swift
  client/Targets/Domain/Entities/Sources/My/Profile.swift
  client/Targets/Domain/Entities/Sources/My/UserProfile.swift
  client/Targets/Domain/Interfaces/Sources/Repository/Profile/MyProfileRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/Repository/Profile/UserProfileRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Profile/MyProfile/MyProfileUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Profile/UserProfile/UserProfileUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/MyProfileUseCase.swift
  client/Targets/Domain/UseCases/Sources/UserProfileUseCase.swift
  client/Targets/Presentation/BasePresentation/Sources/User/Cells/UserSmallTableViewCell.swift
  client/Targets/Presentation/My/Implementations/Sources/FollowList/FollowListBuilder.swift
  client/Targets/Presentation/My/Implementations/Sources/FollowList/FollowListInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/FollowList/FollowListRouter.swift
  client/Targets/Presentation/My/Implementations/Sources/FollowList/FollowListViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/MyPageDependency.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/MyPageInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/MyPageRouter.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/MyPageViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UserDashboard/MyPageUserDashboardInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UserDashboard/MyPageUserDashboardViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/MyProfile/UserDashboard/Views/MyProfileUserView.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserDashboard/UserProfileUserDashboardInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserDashboard/UserProfileUserDashboardViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserDashboard/Views/UserProfileUserView.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserProfileDependency.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserProfileInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/UserProfile/UserProfileRouter.swift
Labels: 🔨 Feature, 📱 Client

#681 스토리 생성 시 경험치 제공량 변경
  server/src/story/story.service.ts
Labels: 🏗️ Enhancement, 🖥️ Server

#682 README 업데이트
  README.md
Labels: 📝 Plan

#683 영상 변경
  README.md
Labels: 📝 Plan, 📱 Client
