Repository boostcampwm2023/iOS04-HeatPick, pull requests merged in 2023-11, with the labels that each got.

#6 Bundle ID 설정
  client/Tuist/ProjectDescriptionHelpers/Project+Templates.swift
Labels: 📱 Client, ⚙️ Environment

#8 서드파티 라이브러리 변경
  client/Plugins/UtilityPlugin/ProjectDescriptionHelpers/Dependency+Project.swift
  client/Plugins/UtilityPlugin/ProjectDescriptionHelpers/Dependency+SPM.swift
  client/Targets/Core/CoreKit/Project.swift
  client/Targets/Core/Network/NetworkAPIKit/Project.swift
  client/Targets/Core/RxPackage/Project.swift
  client/Targets/Core/RxPackage/Resources/dummy.swift
  client/Targets/Core/RxPackage/Sources/dummy.swift
  client/Targets/Presentation/Home/Interfaces/Project.swift
  client/Tuist/Dependencies.swift
  client/Workspace.swift
  client/graph.png
Labels: 📱 Client, ⚙️ Environment

#15 네이버 로그인 SDK 추가, 로그인 UI 구현
  client/Plugins/UtilityPlugin/ProjectDescriptionHelpers/Dependency+Presentation.swift
  client/Plugins/UtilityPlugin/ProjectDescriptionHelpers/Dependency+Project.swift
  client/Plugins/UtilityPlugin/ProjectDescriptionHelpers/Dependency+SPM.swift
  client/Targets/App/Project.swift
  client/Targets/Presentation/Auth/Implementations/Project.swift
  client/Targets/Presentation/Auth/Implementations/Resources/dummy.txt
  client/Targets/Presentation/Auth/Implementations/Sources/Login/LoginBuilder.swift
  client/Targets/Presentation/Auth/Implementations/Sources/Login/LoginInteractor.swift
  client/Targets/Presentation/Auth/Implementations/Sources/Login/LoginRouter.swift
  client/Targets/Presentation/Auth/Implementations/Sources/Login/LoginViewController.swift
  client/Targets/Presentation/Auth/Implementations/Sources/Login/Views/LoginButton.swift
  client/Targets/Presentation/Auth/Interfaces/Project.swift
  client/Targets/Presentation/Auth/Interfaces/Resources/dummy.txt
  client/Targets/Presentation/Auth/Interfaces/Sources/dummy.swift
  client/Tuist/Dependencies.swift
  client/graph.png
Labels: 🔨 Feature, 📱 Client

#19 버튼 디자인 시스템 추가
  client/Targets/DesignSystem/DesignKit/Sources/Buttons/ActionButton.swift
Labels: 🔨 Feature, 📱 Client

#20 AppRoot 리블렛 추가
  client/Targets/App/Sources/AppComponent.swift
  client/Targets/App/Sources/AppDelegate.swift
  client/Targets/App/Sources/AppRoot/AppRootBuilder.swift
  client/Targets/App/Sources/AppRoot/AppRootInteractor.swift
  client/Targets/App/Sources/AppRoot/AppRootRouter.swift
  client/Targets/App/Sources/AppRoot/AppRootTabBarController.swift
Labels: 🔨 Feature, 📱 Client

#24 로그인 기능 추가
  client/Targets/App/Info.plist
  client/Targets/App/Sources/AppComponent.swift
  client/Targets/App/Sources/AppDelegate.swift
  client/Targets/App/Sources/AppRoot/AppRootBuilder.swift
  client/Targets/App/Sources/AppRoot/AppRootInteractor.swift
  client/Targets/App/Sources/AppRoot/AppRootRouter.swift
  client/Targets/Data/Repositories/Sources/AppleLoginRepository.swift
  client/Targets/Data/Repositories/Sources/NaverLoginRepository.swift
  client/Targets/Data/Repositories/Sources/dummy.swift
  client/Targets/DesignSystem/DesignKit/Sources/Color/UIColor+DesignSystem.swift
  client/Targets/DesignSystem/DesignKit/Sources/Constants/Constants.swift
  client/Targets/DesignSystem/DesignKit/Sources/Image/UIImage+DesignSystem.swift
  client/Targets/Domain/Interfaces/Sources/Repository/AppleLoginRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/Repository/NaverLoginRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/LoginUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/dummy.swift
  client/Targets/Domain/UseCases/Sources/LoginUseCase.swift
  client/Targets/Domain/UseCases/Sources/dummy.swift
  client/Targets/Presentation/Auth/Implementations/Project.swift
  client/Targets/Presentation/Auth/Implementations/Sources/Login/LoginBuilder.swift
  client/Targets/Presentation/Auth/Implementations/Sources/Login/LoginInteractor.swift
  client/Targets/Presentation/Auth/Implementations/Sources/Login/LoginViewController.swift
  client/Targets/Presentation/Auth/Implementations/Sources/Login/Views/LoginButton.swift
Labels: 🔨 Feature, 📱 Client, 🐞 Fix

#25 로그인/회원가입 기능 구현
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/auth/auth.controller.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.ts
  server/src/auth/dto/auth.credential.dto.ts
  server/src/auth/dto/auth.resgister.dto.ts
  server/src/entities/user.entity.ts
  server/src/exception/http-exception.filter.ts
  server/src/user/user.providers.ts
  server/src/user/user.repository.ts
Labels: 🔨 Feature, 🖥️ Server

#26 NestJS Swagger 적용
  server/package-lock.json
  server/package.json
  server/src/auth/auth.controller.ts
  server/src/auth/dto/auth.credential.dto.ts
  server/src/auth/dto/auth.resgister.dto.ts
  server/src/main.ts
Labels: 🔨 Feature, 🖥️ Server

#29 RIBs Routing Util 추가
  client/Targets/Core/CoreKit/Project.swift
  client/Targets/Core/CoreKit/Sources/RIBsUtil/NavigationControllable.swift
  client/Targets/Core/CoreKit/Sources/RIBsUtil/ViewControllable+Routing.swift
  client/Targets/Core/CoreKit/Sources/dummy.swift
  client/Targets/Presentation/Auth/Interfaces/Project.swift
  client/Targets/Presentation/Home/Interfaces/Project.swift
  client/graph.png
Labels: 🔨 Feature, 📱 Client

#32 회원가입 추가
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/profileDefaultImage.imageset/Contents.json
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/profileDefaultImage.imageset/profileDefaultImage.png
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/profileDefaultImage.imageset/profileDefaultImage@2x.png
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/profileDefaultImage.imageset/profileDefaultImage@3x.png
  client/Targets/DesignSystem/DesignKit/Sources/Buttons/ActionButton.swift
  client/Targets/DesignSystem/DesignKit/Sources/Image/UIImage+DesignSystem.swift
  client/Targets/Presentation/Auth/Implementations/Sources/Login/LoginBuilder.swift
  client/Targets/Presentation/Auth/Implementations/Sources/Login/LoginInteractor.swift
  client/Targets/Presentation/Auth/Implementations/Sources/Login/LoginRouter.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignUp/SignUpBuilder.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignUp/SignUpInteractor.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignUp/SignUpRouter.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignUp/SignUpViewController.swift
Labels: 🔨 Feature, 📱 Client

#33 Navigation Routing 추가
  client/Targets/App/Sources/AppRoot/AppRootRouter.swift
  client/Targets/Core/CoreKit/Sources/RIBsUtil/ViewControllable+Routing.swift
  client/Targets/DesignSystem/DesignKit/Sources/Constants/Constants.swift
  client/Targets/DesignSystem/DesignKit/Sources/Views/NavigationView.swift
  client/Targets/Presentation/Auth/Implementations/Sources/Login/LoginInteractor.swift
  client/Targets/Presentation/Auth/Implementations/Sources/Login/LoginRouter.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignUp/SignUpInteractor.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignUp/SignUpViewController.swift
Labels: 🔨 Feature, 📱 Client

#37 README Figma 링크 수정
  README.md
Labels: 🐞 Fix

#38 README Figma 링크 수정
  README.md
Labels: 🐞 Fix

#41 Secondary Button Type 추가
  client/Targets/DesignSystem/DesignKit/Sources/Buttons/ActionButton.swift
  client/Targets/DesignSystem/DesignKit/Sources/Buttons/ActionButtonStyle.swift
  client/graph.png
Labels: 🔨 Feature, 📱 Client

#42 Network 추가
  client/Targets/Core/Network/NetworkAPIKit/Sources/Extensions/Encodable+Data.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/Extensions/String+Data.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/Extensions/URLRequest+NetworkHeader.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/HTTPMethod.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/MultipartFormData.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/Network.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/NetworkAPIKit.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/NetworkError.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/NetworkHeader.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/NetworkProvider.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/Target.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/Task.swift
Labels: 🔨 Feature, 📱 Client, ⚙️ Environment

#46 SearchTextField 추가
  client/Targets/DesignSystem/DesignKit/Sources/TextFields/SearchTextField.swift
Labels: 🔨 Feature, 📱 Client

#55 Feature 템플릿 추가
  client/Plugins/UtilityPlugin/ProjectDescriptionHelpers/Dependency+Presentation.swift
  client/Plugins/UtilityPlugin/ProjectDescriptionHelpers/Dependency+Project.swift
  client/Plugins/UtilityPlugin/ProjectDescriptionHelpers/Scheme+.swift
  client/Tuist/ProjectDescriptionHelpers/Project+Templates.swift
  client/Tuist/Stencils/AppDelegate.stencil
  client/Tuist/Stencils/AppIcon.stencil
  client/Tuist/Stencils/Assets_contents.stencil
  client/Tuist/Stencils/Info.stencil
  client/Tuist/Stencils/LaunchScreen.stencil
  client/Tuist/Stencils/Project-app
  client/Tuist/Stencils/Project-demo.stencil
  client/Tuist/Stencils/Project-implementations.stencil
  client/Tuist/Stencils/Project-interfaces.stencil
  client/Tuist/Templates/feature/feature.swift
Labels: 📱 Client, ⚙️ Environment

#56 Logo Image Scale 추가
  client/Targets/App/Resources/Assets.xcassets/logo.imageset/Contents.json
  client/Targets/App/Resources/Assets.xcassets/logo.imageset/Logo@1x.png
  client/Targets/App/Resources/Assets.xcassets/logo.imageset/Logo@2x.png
  client/Targets/App/Resources/Assets.xcassets/logo.imageset/Logo@3x.png
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/logoWithSubtitle.imageset/Contents.json
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/logoWithSubtitle.imageset/LogoWithSubTitle@1x.png
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/logoWithSubtitle.imageset/LogoWithSubTitle@2x.png
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/logoWithSubtitle.imageset/LogoWithSubTitle@3x.png
Labels: 📱 Client, 🐞 Fix

#58 회원가입 완료 화면 추가
  client/Targets/App/Sources/AppComponent.swift
  client/Targets/App/Sources/AppRoot/AppRootBuilder.swift
  client/Targets/App/Sources/AppRoot/AppRootRouter.swift
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/congratulation.imageset/Congratulation@1x.png
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/congratulation.imageset/Congratulation@2x.png
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/congratulation.imageset/Congratulation@3x.png
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/congratulation.imageset/Contents.json
  client/Targets/DesignSystem/DesignKit/Sources/Image/UIImage+DesignSystem.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/SignInUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/SignInUseCase.swift
  client/Targets/Presentation/Auth/Implementations/Sources/Login/LoginBuilder.swift
  client/Targets/Presentation/Auth/Implementations/Sources/Login/LoginInteractor.swift
  client/Targets/Presentation/Auth/Implementations/Sources/Login/LoginRouter.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignIn/SignInBuilder.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignIn/SignInInteractor.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignIn/SignInRouter.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignIn/SignInViewController.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignIn/Views/SignInButton.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignUp/SignUpInteractor.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignUpSuccess/SignUpSuccessBuilder.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignUpSuccess/SignUpSuccessInteractor.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignUpSuccess/SignUpSuccessRouter.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignUpSuccess/SignUpSuccessViewController.swift
Labels: 🔨 Feature, 📱 Client

#59 위치 권한 플로우 추가
  client/Targets/App/Info.plist
  client/Targets/App/Sources/AppComponent.swift
  client/Targets/App/Sources/AppRoot/AppRootBuilder.swift
  client/Targets/Data/Repositories/Sources/LocationService.swift
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/map.imageset/Contents.json
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/map.imageset/Map@1x.png
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/map.imageset/Map@2x.png
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/map.imageset/Map@3x.png
  client/Targets/DesignSystem/DesignKit/Sources/Image/UIImage+DesignSystem.swift
  client/Targets/Domain/Entities/Sources/LocationPermission.swift
  client/Targets/Domain/Interfaces/Sources/Repository/LocationServiceInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/LocationAuthorityUseCaseInterfaces.swift
  client/Targets/Domain/UseCases/Sources/LocationAuthorityUseCase.swift
  client/Targets/Presentation/Auth/Implementations/Sources/LocationAuthority/LocationAuthorityBuilder.swift
  client/Targets/Presentation/Auth/Implementations/Sources/LocationAuthority/LocationAuthorityInteractor.swift
  client/Targets/Presentation/Auth/Implementations/Sources/LocationAuthority/LocationAuthorityRouter.swift
  client/Targets/Presentation/Auth/Implementations/Sources/LocationAuthority/LocationAuthorityViewController.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignIn/SignInBuilder.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignIn/SignInInteractor.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignIn/SignInRouter.swift
Labels: 🔨 Feature, 📱 Client

#63 NaverMap SPM 및 Presentation Search 추가
  client/Plugins/UtilityPlugin/ProjectDescriptionHelpers/Dependency+Presentation.swift
  client/Plugins/UtilityPlugin/ProjectDescriptionHelpers/Dependency+Project.swift
  client/Plugins/UtilityPlugin/ProjectDescriptionHelpers/Dependency+SPM.swift
  client/Targets/App/Project.swift
  client/Targets/Presentation/Search/Demo/Project.swift
  client/Targets/Presentation/Search/Demo/Resources/Assets.xcassets/AppIcon.appiconset/contents.json
  client/Targets/Presentation/Search/Demo/Resources/Assets.xcassets/contents.json
  client/Targets/Presentation/Search/Demo/Resources/LaunchScreen.storyboard
  client/Targets/Presentation/Search/Demo/Sources/AppDelegate.swift
  client/Targets/Presentation/Search/Implementations/Project.swift
  client/Targets/Presentation/Search/Implementations/Resources/dummy.txt
  client/Targets/Presentation/Search/Implementations/Sources/Search.swift
  client/Targets/Presentation/Search/Interfaces/Project.swift
  client/Targets/Presentation/Search/Interfaces/Resources/dummy.txt
  client/Targets/Presentation/Search/Interfaces/Sources/Search.swift
  client/Tuist/Dependencies.swift
  client/graph.png
Labels: 📱 Client, ⚙️ Environment

#66 CI/CD 배포 환경 설정
  .github/workflows/test-actions.yml
  package-lock.json
  server/.dockerignore
  server/Dockerfile
  server/src/db/dbConnection.ts
Labels: 🖥️ Server, ⚙️ Environment

#65 AppRoot 수정 및 Search Tab 어태취 ~
  client/Targets/App/Sources/AppRoot/AppRootBuilder.swift
  client/Targets/App/Sources/AppRoot/AppRootRouter.swift
  client/Targets/App/Sources/AppRoot/AppRootTabBarController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeViewController.swift
Labels: 🏗️ Enhancement, 🔨 Feature, 📱 Client

#74 git workflow 동작 조건 변경
  .github/workflows/test-actions.yml
Labels: 🖥️ Server, ⚙️ Environment

#75 AppRootComponent 분리
  client/Targets/App/Sources/App/AppComponent.swift
  client/Targets/App/Sources/App/AppDelegate.swift
  client/Targets/App/Sources/AppComponent.swift
  client/Targets/App/Sources/AppRoot/AppRootBuilder.swift
  client/Targets/App/Sources/AppRoot/AppRootComponent.swift
Labels: 🏗️ Enhancement, 📱 Client

#80 Story 및 Category Entity 생성
  server/src/entities/category.entity.ts
  server/src/entities/story.entity.ts
  server/src/entities/user.entity.ts
Labels: 🔨 Feature, 🖥️ Server

#84 import 에러 수정 및 Story, Category 잘못된 연관관계 수정
  server/src/entities/category.entity.ts
  server/src/entities/story.entity.ts
Labels: 🖥️ Server, 🐞 Fix

#85 로그인 서비스 추가
  client/Plugins/UtilityPlugin/ProjectDescriptionHelpers/Dependency+Project.swift
  client/Targets/App/Sources/AppRoot/AppRootBuilder.swift
  client/Targets/App/Sources/AppRoot/AppRootComponent.swift
  client/Targets/Core/Network/NetworkAPIAuth/Project.swift
  client/Targets/Core/Network/NetworkAPIAuth/Resources/dummy.swift
  client/Targets/Core/Network/NetworkAPIAuth/Sources/SignInTarget.swift
  client/Targets/Core/Network/NetworkAPIAuth/Sources/URLProtocols/SignInURLProtocol.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/Network.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/NetworkHeader.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/NetworkHost.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/NetworkProvider.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/Target.swift
  client/Targets/Core/Network/NetworkAPIs/Project.swift
  client/Targets/Data/Network/Sources/Auth/SignInRequestDTO.swift
  client/Targets/Data/Network/Sources/Auth/SignInResponseDTO.swift
  client/Targets/Data/Network/Sources/dummy.swift
  client/Targets/Data/Repositories/Sources/AuthRepository.swift
  client/Targets/Domain/Entities/Sources/Auth/AuthToken.swift
  client/Targets/Domain/Entities/Sources/dummy.swift
  client/Targets/Domain/Interfaces/Sources/Repository/AuthRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/AuthUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/AuthUseCase.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignIn/SignInBuilder.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignIn/SignInInteractor.swift
  client/Tuist/ProjectDescriptionHelpers/Project+Templates.swift
  client/graph.png
Labels: 🔨 Feature, 📱 Client

#87 Log 추가
  client/Targets/Core/CoreKit/Sources/Log/Log.swift
Labels: 🔨 Feature, 📱 Client

#88 회원가입 서비스 추가
  client/Targets/App/Info.plist
  client/Targets/App/Sources/AppRoot/AppRootComponent.swift
  client/Targets/Core/Network/NetworkAPIAuth/Sources/SignUpTarget.swift
  client/Targets/Core/Network/NetworkAPIAuth/Sources/URLProtocols/AuthURLProtocol.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/NetworkError.swift
  client/Targets/Data/Network/Sources/Auth/SignUpRequestDTO.swift
  client/Targets/Data/Network/Sources/Auth/SignUpResponseDTO.swift
  client/Targets/Data/Repositories/Sources/AuthRepository.swift
  client/Targets/Data/Repositories/Sources/NaverLoginRepository.swift
  client/Targets/Domain/Interfaces/Sources/Repository/AuthRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/AuthUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/AuthUseCase.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignUp/SignUpBuilder.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignUp/SignUpInteractor.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignUp/SignUpViewController.swift
Labels: 🔨 Feature, 📱 Client

#90 검색 뷰 추가
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHomeList/SearchHomeListBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHomeList/SearchHomeListInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHomeList/SearchHomeListRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHomeList/SearchHomeListViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchResultBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchResultInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchResultRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchResultViewController.swift
Labels: 🔨 Feature, 📱 Client

#91 Story Detail View 추가
  client/Targets/App/Project.swift
  client/Targets/Core/CoreKit/Sources/ImageUtil/ImageCacheManager.swift
  client/Targets/Core/CoreKit/Sources/ImageUtil/ImageCacheRepository.swift
  client/Targets/Core/CoreKit/Sources/ImageUtil/ImageDownloadManager.swift
  client/Targets/Core/CoreKit/Sources/ImageUtil/UIImage+Cache.swift
  client/Targets/Presentation/Story/Demo/Project.swift
  client/Targets/Presentation/Story/Demo/Resources/Assets.xcassets/AppIcon.appiconset/contents.json
  client/Targets/Presentation/Story/Demo/Resources/Assets.xcassets/contents.json
  client/Targets/Presentation/Story/Demo/Resources/LaunchScreen.storyboard
  client/Targets/Presentation/Story/Demo/Sources/AppDelegate.swift
  client/Targets/Presentation/Story/Implementations/Project.swift
  client/Targets/Presentation/Story/Implementations/Resources/dummy.txt
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/SimpleUserProfileView.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/StoryHeaderView.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/StoryImagesView.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/StoryLikesCommentsView.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/UserBadgeView.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/UserStatus.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailBuilder.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailRouter.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailViewController.swift
  client/Targets/Presentation/Story/Interfaces/Project.swift
  client/Targets/Presentation/Story/Interfaces/Resources/dummy.txt
  client/Targets/Presentation/Story/Interfaces/Sources/Story.swift
Labels: 🔨 Feature, 📱 Client

#92 jwt검증, Guard 구현
  .github/workflows/test-actions.yml
  server/package-lock.json
  server/package.json
  server/src/auth/auth.controller.ts
  server/src/auth/auth.module.ts
  server/src/auth/jwt.guard.ts
  server/src/auth/jwt.strategy.ts
Labels: 🔨 Feature, 🖥️ Server

#94 Story 생성 API 구현
  server/.prettierrc
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/entities/category.entity.ts
  server/src/entities/story.entity.ts
  server/src/story/dto/story.create.dto.ts
  server/src/story/story.controller.ts
  server/src/story/story.module.ts
  server/src/story/story.providers.ts
  server/src/story/story.repository.ts
  server/src/story/story.service.ts
  server/src/story/util/story.util.saveImage.ts
Labels: 🔨 Feature, 🖥️ Server

#93 Home 리블렛 추가, TabBar 세팅 수정
  client/Targets/App/Sources/AppRoot/AppRootComponent.swift
  client/Targets/App/Sources/AppRoot/AppRootRouter.swift
  client/Targets/App/Sources/AppRoot/AppRootTabBarController.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/NetworkHost.swift
  client/Targets/DesignSystem/DesignKit/Sources/Extensions/UICollectionView+.swift
  client/Targets/DesignSystem/DesignKit/Sources/Extensions/UITableViewCell+.swift
  client/Targets/Presentation/Home/Demo/Project.swift
  client/Targets/Presentation/Home/Demo/Resources/Assets.xcassets/AppIcon.appiconset/contents.json
  client/Targets/Presentation/Home/Demo/Resources/Assets.xcassets/contents.json
  client/Targets/Presentation/Home/Demo/Resources/LaunchScreen.storyboard
  client/Targets/Presentation/Home/Demo/Sources/AppDelegate.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeBuilder.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeRouter.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeViewController.swift
  client/Targets/Presentation/Home/Implementations/Sources/dummy.swift
  client/Targets/Presentation/Home/Interfaces/Sources/dummy.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeViewController.swift
Labels: 🔨 Feature, 📱 Client, 🐞 Fix

#96 의존성 오타 수정
  client/Targets/App/Project.swift
Labels: 📱 Client, 🐞 Fix

#99 Story Editor 리블렛 추가, Tabbar 연결
  client/Targets/App/Sources/AppRoot/AppRootComponent.swift
  client/Targets/App/Sources/AppRoot/AppRootRouter.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorBuilder.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorRouter.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorViewController.swift
Labels: 🔨 Feature, 📱 Client

#100 profile image, story image entity 정의
  server/src/entities/profile-image.entity.ts
  server/src/entities/story-image.entity.ts
  server/src/story/story.controller.ts
Labels: 🔨 Feature, 🖥️ Server

#101 회원가입 시 이미지를 받고, 해당 이미지를 저장하도록 구현
  server/.prettierrc
  server/src/auth/auth.controller.ts
  server/src/auth/auth.service.ts
  server/src/story/story.controller.ts
  server/src/util/story.util.saveImage.ts
Labels: 🔨 Feature, 🖥️ Server

#104 Home UI 추가 (Empty Case)
  client/Targets/DesignSystem/DesignKit/Sources/Buttons/ActionButtonStyle.swift
  client/Targets/DesignSystem/DesignKit/Sources/Extensions/UIView+.swift
  client/Targets/Presentation/Home/Demo/Sources/AppDelegate.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FollowingDashboard/HomeFollowingDashboardBuilder.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FollowingDashboard/HomeFollowingDashboardInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FollowingDashboard/HomeFollowingDashboardRouter.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FollowingDashboard/HomeFollowingDashboardViewController.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeBuilder.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeRouter.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeViewController.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HotPlaceDashboard/HomeHotPlaceDashboardBuilder.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HotPlaceDashboard/HomeHotPlaceDashboardInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HotPlaceDashboard/HomeHotPlaceDashboardRouter.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HotPlaceDashboard/HomeHotPlaceDashboardViewController.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/RecommendDashboard/HomeRecommendDashboardBuilder.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/RecommendDashboard/HomeRecommendDashboardInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/RecommendDashboard/HomeRecommendDashboardRouter.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/RecommendDashboard/HomeRecommendDashboardViewController.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/Views/HomeEmptyView.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/Views/HomeSeeAllView.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/Views/HomeTitleView.swift
Labels: 🔨 Feature, 📱 Client

#105 Story 상세 API 구현
  server/src/story/story.controller.ts
  server/src/story/story.repository.ts
  server/src/story/story.service.ts
  server/src/story/type/story.detail.view.data.ts
  server/src/story/type/story.user.data.ts
Labels: 🔨 Feature, 🖥️ Server

#106 Exception filter 적용 및 로그 설정
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/auth/auth.controller.ts
  server/src/auth/auth.service.ts
  server/src/exception/cuntom.exception/id.duplicate.exception.ts
  server/src/exception/custom-exception.filter.ts
  server/src/exception/http-exception.filter.ts
  server/src/main.ts
Labels: 🔨 Feature, 🖥️ Server

#108 스토리 생성 취소 시 Home tab 이동 추가
  client/Targets/App/Sources/AppRoot/AppRootInteractor.swift
  client/Targets/App/Sources/AppRoot/AppRootRouter.swift
  client/Targets/App/Sources/AppRoot/AppRootTabBarController.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorViewController.swift
Labels: 🔨 Feature, 📱 Client

#109 Home Recommend UI 추가
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeViewController.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HotPlaceDashboard/HomeHotPlaceDashboardViewController.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/RecommendDashboard/HomeRecommendDashboardInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/RecommendDashboard/HomeRecommendDashboardViewController.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/RecommendDashboard/Views/HomeRecommendContentView.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/Views/HomeTitleView.swift
Labels: 🔨 Feature, 📱 Client

#111 cascading, lazy loading 적용
  server/src/auth/auth.controller.ts
  server/src/auth/auth.service.ts
  server/src/entities/profile-image.entity.ts
  server/src/entities/profileImage.entity.ts
  server/src/entities/story-image.entity.ts
  server/src/entities/story.entity.ts
  server/src/entities/storyImage.entity.ts
  server/src/entities/user.entity.ts
  server/src/story/story.module.ts
  server/src/story/story.service.ts
Labels: 🏗️ Enhancement, 🔨 Feature, 🖥️ Server

#110 HomeHotPlace UI 추가
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HotPlaceDashboard/HomeHotPlaceDashboardInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HotPlaceDashboard/HomeHotPlaceDashboardViewController.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HotPlaceDashboard/Views/HomeHotPlaceContentView.swift
Labels: 🔨 Feature, 📱 Client

#112 Log access level 수정, Debug 분기 추가
  client/Targets/Core/CoreKit/Sources/Log/Log.swift
Labels: 🏗️ Enhancement, 📱 Client, 🐞 Fix

#113 StoryCreator 추가
  client/Targets/App/Sources/AppRoot/AppRootComponent.swift
  client/Targets/App/Sources/AppRoot/AppRootInteractor.swift
  client/Targets/App/Sources/AppRoot/AppRootRouter.swift
  client/Targets/App/Sources/AppRoot/AppRootTabBarController.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryCreator/StoryCreatorBuilder.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryCreator/StoryCreatorInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryCreator/StoryCreatorRouter.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryCreator/StoryCreatorViewController.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorViewController.swift
Labels: 🔨 Feature, 📱 Client

#115 Secret Key 추가
  client/.gitignore
  client/Plugins/UtilityPlugin/ProjectDescriptionHelpers/XCConfig.swift
  client/Targets/App/Info.plist
  client/Targets/Core/CoreKit/Sources/SecretUtil/Secret.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/NetworkHost.swift
  client/Targets/Data/Repositories/Sources/NaverLoginRepository.swift
  client/Tuist/ProjectDescriptionHelpers/Project+Templates.swift
Labels: 🏗️ Enhancement, 📱 Client, ⚙️ Environment

#114 검색 홈 Modal 추가
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHomeList/SearchHomeListBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHomeList/SearchHomeListViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHomeList/Util/SearchHomeListSheetPresentationController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHomeList/Util/UISheetPresentationController+.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchResultInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchResultRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchResultViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/Views/SearchNavigationView.swift
Labels: 🏗️ Enhancement, 🔨 Feature, 📱 Client

#117 Home Following UI 추가
  client/Targets/Presentation/Home/Implementations/Sources/Home/FollowingDashboard/HomeFollowingDashboardInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FollowingDashboard/HomeFollowingDashboardViewController.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FollowingDashboard/Views/HomeFollowingCommentView.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FollowingDashboard/Views/HomeFollowingContentView.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FollowingDashboard/Views/HomeFollwoingProfileView.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeViewController.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HotPlaceDashboard/HomeHotPlaceDashboardViewController.swift
Labels: 🔨 Feature, 📱 Client

#120 Home 친구 추천 UI 추가
  client/Targets/Presentation/Home/Implementations/Sources/Home/FriendDashboard/HomeFriendDashboardBuilder.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FriendDashboard/HomeFriendDashboardInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FriendDashboard/HomeFriendDashboardRouter.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FriendDashboard/HomeFriendDashboardViewController.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FriendDashboard/Views/HomeFriendContentView.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeBuilder.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeRouter.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeViewController.swift
Labels: 🔨 Feature, 📱 Client

#119 이미지를 불러오는 Image API 생성
  server/src/app.module.ts
  server/src/auth/auth.controller.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.ts
  server/src/image/image.controller.ts
  server/src/image/image.module.ts
  server/src/image/image.service.ts
  server/src/story/story.controller.ts
  server/src/story/story.module.ts
  server/src/story/story.repository.ts
  server/src/story/story.service.ts
  server/src/story/type/story.user.data.ts
  server/src/util/story.util.saveImage.ts
  server/src/util/util.generate.randomFileName.ts
Labels: 🔨 Feature, 🖥️ Server

#123 검색어 저장 / 검색어 추천 기능 구현
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/auth/auth.service.ts
  server/src/entities/search.entity.ts
  server/src/search/search.controller.ts
  server/src/search/search.module.ts
  server/src/search/search.provider.ts
  server/src/search/search.repository.ts
  server/src/search/search.service.spec.ts
  server/src/search/search.service.ts
  server/src/search/trie/trie.ts
Labels: 🔨 Feature, 🖥️ Server

#126 custom 에러 추가(Invalid 토큰 검사), Entity 연관 관계 수정
  server/src/auth/auth.service.ts
  server/src/entities/story.entity.ts
  server/src/entities/storyImage.entity.ts
  server/src/exception/cuntom.exception/token.invalid.exception.ts
  server/src/search/search.repository.ts
  server/src/story/story.service.ts
Labels: 🏗️ Enhancement, 🖥️ Server

#129 추천 장소 모두 보기 추가, 스토리 공통 컴포넌트 추가
  client/Targets/Core/CoreKit/Sources/CoreUtil/Array+.swift
  client/Targets/Core/CoreKit/Sources/RIBsUtil/ViewControllable+Routing.swift
  client/Targets/Presentation/BasePresentation/Sources/Story/Cells/StorySmallTableViewCell.swift
  client/Targets/Presentation/BasePresentation/Sources/Story/StorySeeAll/StorySeeAllPresentable.swift
  client/Targets/Presentation/BasePresentation/Sources/Story/StorySeeAll/StorySeeAllViewControllable.swift
  client/Targets/Presentation/BasePresentation/Sources/Story/StorySeeAll/StorySeeAllViewController.swift
  client/Targets/Presentation/BasePresentation/Sources/Story/Views/StorySmallCommentView.swift
  client/Targets/Presentation/BasePresentation/Sources/dummy.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeBuilder.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeRouter.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeRouterComponent.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeRouterDependency.swift
  client/Targets/Presentation/Home/Implementations/Sources/SeeAll/Recommend/RecommendSeeAllBuilder.swift
  client/Targets/Presentation/Home/Implementations/Sources/SeeAll/Recommend/RecommendSeeAllInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/SeeAll/Recommend/RecommendSeeAllRouter.swift
Labels: 🔨 Feature, 📱 Client

#131 ShowAllTableHeader 추가
  client/Targets/DesignSystem/DesignKit/Sources/Extensions/UICollectionView+.swift
  client/Targets/DesignSystem/DesignKit/Sources/Extensions/UITableViewCell+.swift
  client/Targets/DesignSystem/DesignKit/Sources/Views/ShowAllTableHeaderView.swift
Labels: 🔨 Feature, 📱 Client

#133 핫플레이스 모두 보기 추가
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeBuilder.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeRouter.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeRouterComponent.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeRouterDependency.swift
  client/Targets/Presentation/Home/Implementations/Sources/SeeAll/HotPlace/HotPlaceSeeAllBuilder.swift
  client/Targets/Presentation/Home/Implementations/Sources/SeeAll/HotPlace/HotPlaceSeeAllInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/SeeAll/HotPlace/HotPlaceSeeAllRouter.swift
  client/Targets/Presentation/Home/Implementations/Sources/SeeAll/Recommend/RecommendSeeAllInteractor.swift
Labels: 🔨 Feature, 📱 Client

#135 #52 feat/search home
  client/Targets/Presentation/BasePresentation/Sources/Story/Views/StorySmallCommentView.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHomeList/SearchHomeListInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHomeList/SearchHomeListViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHomeList/Util/SearchHomeListSheetPresentationController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHomeList/Util/UISheetPresentationController+.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHomeList/Views/SearchHomeListCell.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchResultInteractor.swift
Labels: 🏗️ Enhancement, 🔨 Feature, 📱 Client

#136 프로젝트 소개 추가
  README.md
Labels: 🏗️ Enhancement

#137 Story Update API 추가
  server/package-lock.json
  server/package.json
  server/src/story/dto/story.update.dto.ts
  server/src/story/story.controller.ts
  server/src/story/story.service.ts
  server/src/user/user.repository.ts
  server/src/util/util.create.story.entity.ts
  server/src/util/util.save.image.local.ts
Labels: 🏗️ Enhancement, 🔨 Feature, 🖥️ Server

#144 검색 추천 기능 / 스토리 검색 기능 구현
  server/src/search/middleware/save.history.middleware.ts
  server/src/search/search.controller.ts
  server/src/search/search.module.ts
  server/src/search/search.repository.ts
  server/src/search/search.service.spec.ts
  server/src/search/search.service.ts
  server/src/search/trie/historyTrie.ts
  server/src/search/trie/interface/ITrieNode.ts
  server/src/search/trie/storyTrie.ts
  server/src/search/trie/trieNode/historyTrieNode.ts
  server/src/search/trie/trieNode/storyTrieNode.ts
  server/src/search/trie/trieNode/userTrieNode.ts
  server/src/search/trie/userTrie.ts
  server/src/story/story.module.ts
  server/src/story/story.repository.ts
  server/src/story/story.service.ts
  server/src/user/user.module.ts
  server/src/user/user.repository.ts
  server/src/user/user.service.ts
  server/src/util/util.graphmeModify.ts
Labels: 🔨 Feature, 🖥️ Server

#143 Story Editor View 추가
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/AttributeField.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/AttributeTableViewCell.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/DescriptionField.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/ImageField.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/ImageSelector.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/TextFieldWithPadding.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/TitleField.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorViewController.swift
Labels: 🔨 Feature, 📱 Client

#146 기술 선택 과정 READ ME 추가
  README.md
Labels: 🏗️ Enhancement

#154 NavigationViewButton 크기 변경
  client/Targets/DesignSystem/DesignKit/Sources/Constants/Constants.swift
  client/Targets/DesignSystem/DesignKit/Sources/Views/NavigationView.swift
Labels: 🏗️ Enhancement, 📱 Client

#148 Swagger API 명세 수정
  .github/workflows/test-actions.yml
  server/src/auth/auth.controller.ts
  server/src/entities/search.entity.ts
  server/src/entities/story.entity.ts
  server/src/entities/user.entity.ts
  server/src/search/search.controller.ts
  server/src/story/story.controller.ts
  server/src/story/story.service.ts
Labels: 🏗️ Enhancement, 🖥️ Server

#156 위치 기반 장소 리턴 기능 구현
  server/package-lock.json
  server/package.json
  server/src/entities/place.entity.ts
  server/src/entities/story.entity.ts
  server/src/place/dto/location.dto.ts
  server/src/place/place.controller.ts
  server/src/place/place.module.ts
  server/src/place/place.provider.ts
  server/src/place/place.service.ts
  server/src/search/search.controller.ts
  server/src/search/search.module.ts
  server/src/search/search.service.ts
  server/src/search/trie/placeTrie.ts
  server/src/search/trie/trieNode/placeTrieNode.ts
  server/src/story/story.service.ts
  server/src/util/util.haversine.ts
Labels: 🔨 Feature, 🖥️ Server

#157 signin 리턴 형태 변경
  server/src/auth/auth.controller.ts
Labels: 🖥️ Server

#153 Network 요청 변경, Result Sugar 추가
  client/Targets/Core/CoreKit/Sources/CoreUtil/Result+Scheduler.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/Network.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/NetworkProvider.swift
  client/Targets/Data/Repositories/Sources/AuthRepository.swift
  client/Targets/Domain/Interfaces/Sources/Repository/AuthRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/AuthUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/AuthUseCase.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignIn/SignInInteractor.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignUp/SignUpInteractor.swift
Labels: 🏗️ Enhancement, 📱 Client, ⚙️ Environment

#159 로그인, 회원가입 리턴 타입 수정, 이미지 폴더 생성
  server/src/auth/auth.controller.ts
  server/src/image/image.service.ts
Labels: 🏗️ Enhancement, 🖥️ Server

#160 이미지 없는 경우 예외처리
  server/src/auth/auth.service.ts
Labels: 🏗️ Enhancement, 🖥️ Server

#162 RIBs Keyboard Memory Leak 해결
  client/Targets/Core/CoreKit/Sources/RIBsUtil/ViewControllable+Routing.swift
Labels: 📱 Client, 🐞 Fix

#163 Comment Entity 정의 및 연관 관계 설정
  server/src/entities/comment.entity.ts
  server/src/entities/story.entity.ts
  server/src/entities/user.entity.ts
Labels: 🔨 Feature, 🖥️ Server

#164 로그인/회원가입 API 연결
  client/Targets/Core/Network/NetworkAPIAuth/Sources/URLProtocols/AuthURLProtocol.swift
  client/Targets/Data/Network/Sources/Auth/SignInResponseDTO.swift
  client/Targets/Data/Network/Sources/Auth/SignUpResponseDTO.swift
  client/Targets/Data/Repositories/Sources/NaverLoginRepository.swift
  client/Targets/Presentation/Auth/Implementations/Sources/SignIn/SignInInteractor.swift
Labels: 🔨 Feature, 📱 Client

#165 scroll 시 keyboard가 dismiss 되도록 수정
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorViewController.swift
Labels: 📱 Client, 🐞 Fix

#179 Test Target 추가
  client/Targets/Data/Network/Project.swift
  client/Targets/Data/Network/Tests/Sources/dummy.swift
  client/Targets/Data/Repositories/Project.swift
  client/Targets/Data/Repositories/Tests/Sources/dummy.swift
  client/Targets/Data/Storages/Project.swift
  client/Targets/Data/Storages/Tests/Sources/dummy.swift
  client/Targets/Domain/UseCases/Project.swift
  client/Targets/Domain/UseCases/Tests/Sources/dummy.swift
  client/Targets/Presentation/Auth/Implementations/Project.swift
  client/Targets/Presentation/Auth/Implementations/Tests/Sources/dummy.swift
  client/Targets/Presentation/Home/Implementations/Project.swift
  client/Targets/Presentation/Home/Implementations/Tests/Sources/dummy.swift
  client/Targets/Presentation/Search/Implementations/Project.swift
  client/Targets/Presentation/Search/Implementations/Tests/Sources/dummy.swift
  client/Targets/Presentation/Story/Implementations/Project.swift
  client/Targets/Presentation/Story/Implementations/Tests/Sources/dummy.swift
  client/Tuist/ProjectDescriptionHelpers/Project+Templates.swift
  client/Tuist/Stencils/Project-implementations.stencil
  client/Tuist/Templates/feature/feature.swift
Labels: 📱 Client, ⚙️ Environment

#170 댓글 생성 API 구현
  server/src/app.module.ts
  server/src/comment/comment.controller.ts
  server/src/comment/comment.module.ts
  server/src/comment/comment.service.ts
  server/src/comment/dto/commnet.create.dto.ts
  server/src/entities/comment.entity.ts
  server/src/entities/story.entity.ts
  server/src/story/story.controller.ts
  server/src/story/story.service.ts
  server/src/util/util.create.comment.entity.ts
Labels: 🔨 Feature, 🖥️ Server

#183 스토리 추천 기능 구현
  server/src/entities/place.entity.ts
  server/src/entities/story.entity.ts
  server/src/story/dto/story.recommend.response.dto.ts
  server/src/story/story.controller.ts
  server/src/story/story.repository.ts
  server/src/story/story.service.ts
Labels: 🔨 Feature, 🖥️ Server

#186 feat: Badge Entity 정의 및 연관관계 설정
  server/src/entities/badge.entity.ts
  server/src/entities/user.entity.ts
  server/src/story/story.controller.ts
Labels: 🔨 Feature, 🖥️ Server

#191 AccessToken Setup 추가
  client/Targets/App/Sources/AppRoot/AppRootBuilder.swift
  client/Targets/App/Sources/AppRoot/AppRootComponent.swift
  client/Targets/App/Sources/AppRoot/AppRootInteractor.swift
  client/Targets/Core/CoreKit/Sources/SecretUtil/SecretManager.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/NetworkHeader.swift
  client/Targets/Data/Network/Auth/Sources/AuthAPI.swift
  client/Targets/Data/Network/Base/Sources/NetworkHeader+Authorized.swift
  client/Targets/Data/Network/Base/Sources/dummy.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/AuthUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/AuthUseCase.swift
Labels: 🏗️ Enhancement, 🔨 Feature, 📱 Client

#193 유저 뱃지 추가 기능 구현, swagger 작성
  server/src/db/database.providers.ts
  server/src/entities/user.entity.ts
  server/src/exception/custom.exception/id.duplicate.exception.ts
  server/src/exception/custom.exception/id.notValid.exception.ts
  server/src/exception/custom.exception/token.invalid.exception.ts
  server/src/user/dto/addBadge.dto.ts
  server/src/user/user.controller.ts
  server/src/user/user.module.ts
  server/src/user/user.repository.ts
  server/src/user/user.service.ts
Labels: 🔨 Feature, 🖥️ Server

#192 스토리 Domain Entity 추가, 에디터 view 수정 및 동작 추가
  client/Targets/Domain/Entities/Sources/Location/Location.swift
  client/Targets/Domain/Entities/Sources/Location/LocationPermission.swift
  client/Targets/Domain/Entities/Sources/Story/Story.swift
  client/Targets/Domain/Entities/Sources/Story/StoryCategory.swift
  client/Targets/Domain/Entities/Sources/Story/StoryContent.swift
  client/Targets/Domain/Entities/Sources/User/Badge.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/AttributeField.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/AttributeTableViewCell.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/BadgePicker.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/CategoryPicker.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/DatePicker.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/DescriptionField.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/ImageField.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/ImageSelector.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/LocationPicker.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/LocationPickerView.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/Separator.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/TitleField.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorViewController.swift
Labels: 🔨 Feature, 📱 Client

#195 대표 뱃지 설정 기능 구현
  server/src/auth/auth.service.ts
  server/src/entities/user.entity.ts
  server/src/exception/custom.exception/badge.notValid.exception.ts
  server/src/story/story.service.ts
  server/src/user/user.controller.ts
  server/src/user/user.service.ts
Labels: 🔨 Feature, 🖥️ Server

#196 추천 장소, 핫플레이스 API 추가
  client/Targets/App/Sources/AppRoot/AppRootComponent.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/Extensions/Encodable+Data.swift
  client/Targets/Data/Network/Home/Sources/DTO/RecommendLocationRequestDTO.swift
  client/Targets/Data/Network/Home/Sources/DTO/RecommendLocationResponseDTO.swift
  client/Targets/Data/Network/Home/Sources/DTO/RecommendResponseDTO.swift
  client/Targets/Data/Network/Home/Sources/HomeAPI.swift
  client/Targets/Data/Network/Home/Sources/dummy.swift
  client/Targets/Data/Repositories/Sources/HomeRepository.swift
  client/Targets/Domain/Entities/Sources/Home/RecommendStory.swift
  client/Targets/Domain/Interfaces/Sources/Repository/HomeRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Home/HomeUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Home/HotPlaceUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Home/RecommendUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/HomeUseCase.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HomeBuilder.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HotPlaceDashboard/HomeHotPlaceDashboardBuilder.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HotPlaceDashboard/HomeHotPlaceDashboardInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/RecommendDashboard/HomeRecommendDashboardBuilder.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/RecommendDashboard/HomeRecommendDashboardInteractor.swift
Labels: 🔨 Feature, 📱 Client

#201 ActionButton Loading 추가
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/spinner.imageset/Contents.json
  client/Targets/DesignSystem/DesignKit/Resources/Image.xcassets/spinner.imageset/spinner.pdf
  client/Targets/DesignSystem/DesignKit/Sources/Buttons/ActionButton.swift
  client/Targets/DesignSystem/DesignKit/Sources/Extensions/UITableView+.swift
  client/Targets/DesignSystem/DesignKit/Sources/Extensions/UIView+.swift
  client/Targets/DesignSystem/DesignKit/Sources/Image/UIImage+DesignSystem.swift
Labels: 🏗️ Enhancement, 🔨 Feature, 📱 Client

#205 검색어 빈칸일 때 UI 구현
  client/Targets/App/Sources/App/AppDelegate.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHomeList/SearchHomeListInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchMap/SearchMapBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchMap/SearchMapInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchMap/SearchMapRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchMap/SearchMapViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/BeginEditingTextDashboard/BeginEditingTextDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/BeginEditingTextDashboard/BeginEditingTextDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/BeginEditingTextDashboard/BeginEditingTextDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/BeginEditingTextDashboard/BeginEditingTextDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/BeginEditingTextDashboard/View/BeginEditingCollectionHeaderView.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/BeginEditingTextDashboard/View/CategoryCollectionViewCell.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/BeginEditingTextDashboard/View/RecentSearchTextCollectionViewCell.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/EditingTextDashboard/EditingTextDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/EditingTextDashboard/EditingTextDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/EditingTextDashboard/EditingTextDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/EditingTextDashboard/EditingTextDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/EndEditingTextDashboard/EndEditingTextDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/EndEditingTextDashboard/EndEditingTextDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/EndEditingTextDashboard/EndEditingTextDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/EndEditingTextDashboard/EndEditingTextDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchResultBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchResultInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchResultRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchResultViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/Views/SearchNavigationView.swift
Labels: 🏗️ Enhancement, 🔨 Feature, 📱 Client

#206 테스트를 위한 임시PR(폴더 생성 로직 구현)
  server/src/entities/badge.entity.ts
  server/src/util/util.save.image.local.ts
Labels: 🏗️ Enhancement, 🖥️ Server, 🐞 Fix

#197 유저 상세 프로필 API 구현
  server/src/user/type/user.profile.detail.data.type.ts
  server/src/user/user.controller.ts
  server/src/user/user.repository.ts
  server/src/user/user.service.ts
Labels: 🔨 Feature, 🖥️ Server

#202 사용자 정보를 수정하는 API (이름만 변경 가능)
  server/src/user/dto/user.update.dto.ts
  server/src/user/user.controller.ts
  server/src/user/user.module.ts
  server/src/user/user.repository.ts
  server/src/user/user.service.ts
Labels: 🔨 Feature, 🖥️ Server

#204 회원탈퇴 API 구현
  server/src/entities/user.entity.ts
  server/src/user/user.controller.ts
  server/src/user/user.repository.ts
  server/src/user/user.service.ts
Labels: 🔨 Feature, 🖥️ Server

#209 서버 정상화
  server/src/story/dto/story.create.dto.ts
  server/src/user/user.controller.ts
  server/src/user/user.service.ts
Labels: 🖥️ Server, 🐞 Fix

#214 Story에서 JWT 검증 로직 변경
  server/src/story/dto/story.create.dto.ts
  server/src/story/story.controller.ts
  server/src/story/story.service.ts
Labels: 🖥️ Server, 🐞 Fix

#211 뱃지 경험치 증가 구현
  server/src/comment/comment.service.ts
  server/src/entities/badge.entity.ts
  server/src/user/dto/addBadgeExp.dto.ts
  server/src/user/user.controller.ts
  server/src/user/user.service.ts
  server/src/util/util.string.to.emoji.ts
Labels: 🔨 Feature, 🖥️ Server

#216 중괄호 삭제 버그 수정
  server/src/user/user.controller.ts
Labels: 🖥️ Server, 🐞 Fix

#224 [iOS] Editing -> Search로 Rename
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/BeginEditingTextDashboard/BeginEditingTextDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/BeginEditingTextDashboard/BeginEditingTextDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/EditingTextDashboard/EditingTextDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/EditingTextDashboard/EditingTextDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/EditingTextDashboard/EditingTextDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/EndEditingTextDashboard/EndEditingTextDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/EndEditingTextDashboard/EndEditingTextDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/EndEditingTextDashboard/EndEditingTextDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/View/SearchBeforeCategoryCell.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/View/SearchBeforeHeaderView.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/View/SearchBeforeRecentSearchTextCell.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchResultBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchResultInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchResultRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchResultViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchingDashboard/SearchingDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchingDashboard/SearchingDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchingDashboard/SearchingDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchingDashboard/SearchingDashboardViewController.swift
Labels: 🏗️ Enhancement, 📱 Client

#228 Image의 경로가 아닌 이름 만을 주어 Image 요청
  .github/workflows/test-actions.yml
  server/src/image/image.controller.ts
  server/src/util/util.create.story.entity.ts
  server/src/util/util.save.image.local.ts
Labels: 🏗️ Enhancement, 🖥️ Server, 🐞 Fix

#230 docker 공유 폴더 설정 변경
  .github/workflows/test-actions.yml
Labels: 🖥️ Server, 🐞 Fix

#227 Searching UI 구현
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchMap/SearchMapViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/View/SearchBeforeCategoryCell.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/View/SearchBeforeRecentSearchTextCell.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchingDashboard/SearchingDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchingDashboard/SearchingDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchingDashboard/SearchingDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchingDashboard/Views/SearchingRecommendCell.swift
Labels: 🏗️ Enhancement, 🔨 Feature, 📱 Client

#231 docker 공유 파일 경로 수정
  .github/workflows/test-actions.yml
Labels: 🖥️ Server, 🐞 Fix

#232 docker 공유 폴더 경로 변경
  .github/workflows/test-actions.yml
Labels: 🖥️ Server, 🐞 Fix

#234 Story CRUD 리턴 타입 Swagger에 맞게 변경
  server/src/story/dto/story.update.dto.ts
  server/src/story/story.controller.ts
Labels: 🏗️ Enhancement, 🖥️ Server, 🐞 Fix

#238 스토리 생성 API 연결
  client/Targets/Core/Network/NetworkAPIKit/Sources/Extensions/Encodable+Data.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/Media.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/MultipartFormData.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/NetworkProvider.swift
  client/Targets/Data/Network/Story/Sources/DTO/NewStoryRequestDTO.swift
  client/Targets/Data/Network/Story/Sources/DTO/NewStoryResponseDTO.swift
  client/Targets/Data/Network/Story/Sources/DTO/PlaceDTO.swift
  client/Targets/Data/Network/Story/Sources/StoryAPI.swift
  client/Targets/Data/Network/Story/Sources/dummy.swift
  client/Targets/Data/Repositories/Sources/StoryRepository.swift
  client/Targets/Domain/Entities/Sources/Story/Story.swift
  client/Targets/Domain/Entities/Sources/Story/StoryContent.swift
  client/Targets/Domain/Interfaces/Sources/Repository/StoryRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/StoryUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/StoryUseCase.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryCreator/StoryCreatorBuilder.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/AttributeField.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/ImageSelector.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/LocationPicker.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorBuilder.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorViewController.swift
Labels: 🔨 Feature, 📱 Client

#235 서버 에러 전송 슬랙 봇 구현
  .github/workflows/test-actions.yml
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/auth/auth.controller.ts
  server/src/auth/dto/auth.credential.dto.ts
  server/src/auth/dto/auth.resgister.dto.ts
  server/src/entities/badge.entity.ts
  server/src/exception/custom-exception.filter.ts
  server/src/exception/slack-exception.filter.ts
  server/src/main.ts
  server/src/place/dto/location.dto.ts
  server/src/slack/slack.service.ts
  server/src/story/story.service.ts
  server/src/user/dto/addBadge.dto.ts
  server/src/user/dto/addBadgeExp.dto.ts
Labels: 🔨 Feature, 🖥️ Server

#243 마이페이지 내가 쓴 스토리 추가, Story 공통 컴포넌트 추가
  client/Targets/Presentation/BasePresentation/Sources/Common/SeeAllButtonView.swift
  client/Targets/Presentation/BasePresentation/Sources/Common/SeeAllView.swift
  client/Targets/Presentation/BasePresentation/Sources/Story/Views/StorySmallView.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FollowingDashboard/HomeFollowingDashboardViewController.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/FriendDashboard/HomeFriendDashboardViewController.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HotPlaceDashboard/HomeHotPlaceDashboardViewController.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/RecommendDashboard/HomeRecommendDashboardViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/MyPageBuilder.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/MyPageInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/MyPageRouter.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/StoryDashboard/MyPageStoryDashboardBuilder.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/StoryDashboard/MyPageStoryDashboardInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/StoryDashboard/MyPageStoryDashboardRouter.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/StoryDashboard/MyPageStoryDashboardViewController.swift
Labels: 🔨 Feature, 📱 Client

#240 검색 완료 UI 구현
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterStoryDashboard/SearchAfterStoryDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterStoryDashboard/SearchAfterStoryDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterStoryDashboard/SearchAfterStoryDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterStoryDashboard/SearchAfterStoryDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterStoryDashboard/Views/SearchAfterStoryView.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterUserDashboard/SearchAfterUserDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterUserDashboard/SearchAfterUserDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterUserDashboard/SearchAfterUserDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterUserDashboard/SearchAfterUserDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterUserDashboard/Views/SearchAfterUserView.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/Views/SearchAfterSeeAllView.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/Views/SearchAfterTitleView.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/View/SearchBeforeCategoryCell.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/View/SearchBeforeHeaderView.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/View/SearchBeforeRecentSearchTextCell.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchingDashboard/SearchingDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchingDashboard/Views/SearchingRecommendCell.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/Views/SearchResultEmptyView.swift
Labels: 🏗️ Enhancement, 🔨 Feature, 📱 Client

#246 StoryCreatorBuilder 모듈 dependency 이슈 수정
  client/Targets/App/Sources/AppRoot/AppRootComponent.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryCreator/StoryCreatorBuilder.swift
Labels: 📱 Client, 🐞 Fix

#247 스토리 생성 후 상세페이지 이동
  client/Targets/Presentation/Story/Implementations/Sources/StoryCreator/StoryCreatorBuilder.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryCreator/StoryCreatorInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryCreator/StoryCreatorRouter.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/SimpleUserProfileView.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/StoryHeaderView.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/StoryLikesCommentsView.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailBuilder.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailRouter.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailViewController.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorViewController.swift
Labels: 🔨 Feature, 📱 Client

#248 마이페이지 UI 구현
  client/Targets/Presentation/BasePresentation/Sources/Story/Views/StorySmallView.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/MyPageBuilder.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/MyPageInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/MyPageRouter.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/MyPageViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/StoryDashboard/MyPageStoryDashboardInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/StoryDashboard/MyPageStoryDashboardViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/StoryDashboard/Views/MyPageStoryEmptyView.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/UserDashboard/MyPageUserDashboardInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/UserDashboard/MyPageUserDashboardViewController.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/UserDashboard/Views/MyPageUserView.swift
  client/Targets/Presentation/My/Implementations/Sources/SeeAll/MyPageStory/MyPageStorySeeAllBuilder.swift
  client/Targets/Presentation/My/Implementations/Sources/SeeAll/MyPageStory/MyPageStorySeeAllInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/SeeAll/MyPageStory/MyPageStorySeeAllRouter.swift
Labels: 🔨 Feature, 📱 Client

#255 Demo 앱 Sugar 추가
  client/Targets/Presentation/BasePresentation/Sources/Demo/DemoRootBuilder.swift
  client/Targets/Presentation/BasePresentation/Sources/Demo/DemoRootInteractor.swift
  client/Targets/Presentation/BasePresentation/Sources/Demo/DemoRootRouter.swift
  client/Targets/Presentation/BasePresentation/Sources/Demo/DemoRootViewController.swift
  client/Targets/Presentation/Home/Demo/Project.swift
  client/Targets/Presentation/Home/Demo/Sources/AppDelegate.swift
  client/Targets/Presentation/My/Demo/Project.swift
  client/Targets/Presentation/My/Demo/Sources/AppDelegate.swift
  client/Targets/Presentation/Search/Demo/Project.swift
  client/Targets/Presentation/Story/Demo/Project.swift
  client/Tuist/ProjectDescriptionHelpers/Project+Templates.swift
  client/Tuist/Stencils/AppDelegate.stencil
  client/Tuist/Stencils/Project-demo.stencil
Labels: 🏗️ Enhancement, 🔨 Feature, 📱 Client

#242 location DTO에서 파라미터 number 형으로 변환 구현
  server/src/place/dto/location.dto.ts
  server/src/story/story.controller.ts
Labels: 🖥️ Server, 🐞 Fix

#261 TaskCancelBag 추가
  client/Targets/Core/CoreKit/Sources/TaskUtil/AnyCancellableTask.swift
  client/Targets/Core/CoreKit/Sources/TaskUtil/CancelBag.swift
Labels: 🏗️ Enhancement, 🔨 Feature, 📱 Client

#264 User Profile Swagger 수정
  server/src/image/image.controller.ts
  server/src/user/dto/user.profile.detail.data.dto.ts
  server/src/user/dto/user.update.dto.ts
  server/src/user/user.controller.ts
  server/src/user/user.repository.ts
  server/src/user/user.service.ts
Labels: 🏗️ Enhancement, 🖥️ Server, 🐞 Fix

#269 MyPage 서비스 추가
  client/Targets/App/Sources/AppRoot/AppRootComponent.swift
  client/Targets/Data/Network/My/Sources/DTO/MyProfileResponseDTO.swift
  client/Targets/Data/Network/My/Sources/MyAPI.swift
  client/Targets/Data/Network/My/Sources/dummy.swift
  client/Targets/Data/Repositories/Sources/MyPageRepository.swift
  client/Targets/Domain/Entities/Sources/My/MyPage.swift
  client/Targets/Domain/Entities/Sources/My/MyPageProfile.swift
  client/Targets/Domain/Entities/Sources/My/MyPageStory.swift
  client/Targets/Domain/Interfaces/Sources/Repository/MyPageRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/My/MyPageProfileUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/My/MyPageStoryUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/My/MyPageUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/MyPageUseCase.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/MyPageBuilder.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/MyPageInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/StoryDashboard/MyPageStoryDashboardBuilder.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/StoryDashboard/MyPageStoryDashboardInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/UserDashboard/MyPageUserDashboardBuilder.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/UserDashboard/MyPageUserDashboardInteractor.swift
Labels: 🔨 Feature, 📱 Client

#265 image 전송을 buffer에서 png로 변경
  server/src/image/image.controller.ts
Labels: 🏗️ Enhancement, 🖥️ Server, 🐞 Fix

#268 유저 팔로우 / 언팔 기능 구현
  server/src/entities/user.entity.ts
  server/src/user/dto/follow.request.dto.ts
  server/src/user/user.controller.ts
  server/src/user/user.repository.ts
  server/src/user/user.service.ts
Labels: 🔨 Feature, 🖥️ Server

#277 서버 복구
  server/src/image/image.controller.ts
Labels: 🖥️ Server, 🐞 Fix

#274 최근 검색어 분리
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/SearchBeforeRecentSearchesDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/SearchBeforeRecentSearchesDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/SearchBeforeRecentSearchesDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/SearchBeforeRecentSearchesDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/Views/SearchBeforeRecentSearchesDashboardCell.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/View/SearchBeforeHeaderView.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchResultRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchResultViewController.swift
Labels: 🏗️ Enhancement, 📱 Client

#278 검색 카테고리 리블렛 분리
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeCategoryDashboard/SearchBeforeCategoryDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeCategoryDashboard/SearchBeforeCategoryDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeCategoryDashboard/SearchBeforeCategoryDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeCategoryDashboard/SearchBeforeCategoryDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeCategoryDashboard/Views/SearchBeforeCategoryDashboardCell.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeDashboardViewController.swift
Labels: 🏗️ Enhancement, 📱 Client

#281 Search/SearchAfter UI 미세 조정
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterStoryDashboard/SearchAfterStoryDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterStoryDashboard/SearchAfterStoryDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterStoryDashboard/Views/SearchAfterStoryView.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterUserDashboard/SearchAfterUserDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterUserDashboard/SearchAfterUserDashboardViewController.swift
Labels: 🏗️ Enhancement, 📱 Client

#282 Mock Service 추가
  client/Targets/App/Sources/AppRoot/AppRootComponent.swift
  client/Targets/Core/CoreKit/Resources/APIResponseMock/Home/HomeRecommendLocationResponseMock.json
  client/Targets/Core/CoreKit/Resources/APIResponseMock/Home/HomeRecommendResponseMock.json
  client/Targets/Core/CoreKit/Resources/APIResponseMock/My/MyProfileResponseMock.json
  client/Targets/Core/CoreKit/Resources/dummy.swift
  client/Targets/Core/CoreKit/Sources/Bundle+Core.swift
  client/Targets/Data/Network/Home/Sources/URLProtocols/HomeURLProtocol.swift
  client/Targets/Data/Network/My/Sources/DTO/MyProfileResponseDTO.swift
  client/Targets/Data/Network/My/Sources/URLProtocols/MyURLProtocol.swift
  client/Tuist/ProjectDescriptionHelpers/Project+Templates.swift
Labels: 🏗️ Enhancement, 🔨 Feature, 📱 Client

#287 Recent searches UI수정
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterStoryDashboard/SearchAfterStoryDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterStoryDashboard/SearchAfterStoryDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterUserDashboard/SearchAfterUserDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/SearchAfterUserDashboard/SearchAfterUserDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchAfterDashboard/Views/SearchAfterHeaderView.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/SearchBeforeRecentSearchesDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/SearchBeforeRecentSearchesDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/Views/SearchBeforeRecentSearchesDashboardCell.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/Views/SearchBeforeRecentSearchesEmptyView.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/Views/SearchBeforeRecentSearchesView.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/View/SearchBeforeHeaderView.swift
Labels: 🏗️ Enhancement, 📱 Client

#288 스토리 상세 응답 수정
  server/src/entities/badge.entity.ts
  server/src/entities/story.entity.ts
  server/src/story/dto/detail/story.detail.place.data.dto.ts
  server/src/story/dto/detail/story.detail.story.data.ts
  server/src/story/dto/detail/story.detail.user.data.ts
  server/src/story/dto/detail/story.detail.view.data.dto.ts
  server/src/story/dto/story.create.dto.ts
  server/src/story/dto/story.detail.view.data.dto.ts
  server/src/story/dto/story.update.dto.ts
  server/src/story/story.controller.ts
  server/src/story/story.repository.ts
  server/src/story/story.service.ts
  server/src/util/util.create.story.entity.ts
Labels: 🏗️ Enhancement, 🖥️ Server, 🐞 Fix

#286 스토리 상세 view model 추가
  client/Targets/Domain/Entities/Sources/Story/Author.swift
  client/Targets/Domain/Entities/Sources/Story/Badge.swift
  client/Targets/Domain/Entities/Sources/Story/Story.swift
  client/Targets/Domain/Entities/Sources/Story/StoryContent.swift
  client/Targets/Domain/Entities/Sources/User/UserStatus.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryCreator/StoryCreatorBuilder.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryCreator/StoryCreatorRouter.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/SimpleUserProfileView.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/StoryHeaderView.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/StoryLikesCommentsView.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/UserStatus.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailBuilder.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailViewController.swift
Labels: 🔨 Feature, 📱 Client

#289 Category UI수정
  client/Targets/App/Sources/App/AppDelegate.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeCategoryDashboard/SearchBeforeCategoryDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeCategoryDashboard/SearchBeforeCategoryDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeCategoryDashboard/Views/SearchBeforeCategoryDashboardCell.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeCategoryDashboard/Views/SearchBeforeCategoryView.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/SearchBeforeRecentSearchesDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/Views/SearchBeforeRecentSearchesEmptyView.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/Views/SearchBeforeRecentSearchesView.swift
Labels: 🏗️ Enhancement, 📱 Client

#292 유저 생성 시 기본 뱃지 설정
  server/src/auth/auth.service.ts
  server/src/entities/badge.entity.ts
  server/src/entities/user.entity.ts
  server/src/user/dto/addBadge.dto.ts
  server/src/util/util.string.to.emoji.ts
Labels: 🔨 Feature, 🖥️ Server

#291 StoryAPI URLProtocol 추가
  client/Targets/App/Sources/AppRoot/AppRootComponent.swift
  client/Targets/Data/Network/Story/Sources/URLProtocols/StoryURLProtocol.swift
Labels: 🔨 Feature, 📱 Client

#298 story-badge 연관관계 수정
  server/src/db/database.providers.ts
  server/src/entities/badge.entity.ts
  server/src/entities/story.entity.ts
  server/src/story/dto/detail/story.detail.story.data.ts
  server/src/story/story.repository.ts
  server/src/story/story.service.ts
  server/src/user/user.repository.ts
Labels: 🏗️ Enhancement, 🖥️ Server, 🐞 Fix

#299 로그아웃 기능 추가, UtilityKit 제거
  client/Plugins/UtilityPlugin/ProjectDescriptionHelpers/Dependency+Project.swift
  client/Targets/App/Sources/App/AppDelegate.swift
  client/Targets/App/Sources/AppRoot/AppRootComponent.swift
  client/Targets/Core/FoundationKit/Project.swift
  client/Targets/Core/FoundationKit/Resources/dummy.swift
  client/Targets/Core/FoundationKit/Sources/SecretUtil/Secret.swift
  client/Targets/Core/FoundationKit/Sources/SecretUtil/SecretManager.swift
  client/Targets/Core/FoundationKit/Sources/User/SignOutService.swift
  client/Targets/Core/FoundationKit/Sources/dummy.swift
  client/Targets/Core/FoundationKit/UtilityKit/Project.swift
  client/Targets/Core/FoundationKit/UtilityKit/Sources/dummy.swift
  client/Targets/Data/Network/Base/Sources/NetworkHeader+Authorized.swift
  client/Targets/Data/Repositories/Sources/NaverLoginRepository.swift
  client/Targets/Domain/UseCases/Sources/AuthUseCase.swift
  client/Targets/Presentation/My/Implementations/Sources/MyPage/MyPageDependency.swift
  client/Targets/Presentation/My/Implementations/Sources/Setting/SettingBuilder.swift
  client/Targets/Presentation/My/Implementations/Sources/Setting/SettingInteractor.swift
  client/Targets/Presentation/My/Implementations/Sources/Setting/SettingViewController.swift
  client/graph.png
Labels: 🔨 Feature, 📱 Client

#301 스토리 상세 지도 추가
  client/Targets/Data/Network/Story/Sources/URLProtocols/StoryURLProtocol.swift
  client/Targets/Domain/Entities/Sources/Location/Location.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/StoryLikesCommentsView.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/StoryMapView.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/UserBadgeView.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailViewController.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/LocationPickerView.swift
Labels: 🏗️ Enhancement, 🔨 Feature, 📱 Client

#306 story detail에서 storyId 전달
  server/src/story/dto/detail/story.detail.story.data.ts
  server/src/story/story.service.ts
Labels: 🖥️ Server, 🐞 Fix

#304 대표 뱃지 설정 기능 버그 수정
  server/src/entities/badge.entity.ts
  server/src/entities/user.entity.ts
  server/src/user/user.repository.ts
  server/src/user/user.service.ts
Labels: 🖥️ Server, 🐞 Fix

#307 Invalid Token 로그아웃 추가, Alert Sugar 추가
  client/Targets/Core/CoreKit/Sources/Alert/ViewControllable+Alert.swift
  client/Targets/Core/FoundationKit/Sources/Alert/AlertPresentable.swift
  client/Targets/Core/FoundationKit/Sources/Alert/AlertType.swift
  client/Targets/Core/FoundationKit/Sources/Alert/SignOutService+Alert.swift
  client/Targets/Core/FoundationKit/Sources/User/SignOutService.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/NetworkErrorCode.swift
  client/Targets/Core/Network/NetworkAPIKit/Sources/NetworkProvider.swift
  client/Targets/Presentation/My/Implementations/Sources/Setting/SettingInteractor.swift
Labels: 🏗️ Enhancement, 🔨 Feature, 📱 Client

#308 스토리 상세 API 연결
  client/Targets/Core/CoreKit/Resources/APIResponseMock/Story/StoryCreateResponseMock.json
  client/Targets/Core/CoreKit/Resources/APIResponseMock/Story/StoryDetailResponseMock.json
  client/Targets/Core/Network/NetworkAPIKit/Sources/NetworkProvider.swift
  client/Targets/Data/Network/Story/Sources/DTO/AuthorDTO.swift
  client/Targets/Data/Network/Story/Sources/DTO/NewStoryRequestDTO.swift
  client/Targets/Data/Network/Story/Sources/DTO/StoryDTO.swift
  client/Targets/Data/Network/Story/Sources/DTO/StoryDetailRequestDTO.swift
  client/Targets/Data/Network/Story/Sources/DTO/StoryDetailResponseDTO.swift
  client/Targets/Data/Network/Story/Sources/StoryAPI.swift
  client/Targets/Data/Network/Story/Sources/URLProtocols/StoryURLProtocol.swift
  client/Targets/Data/Repositories/Sources/StoryRepository.swift
  client/Targets/Domain/Entities/Sources/Story/StoryContent.swift
  client/Targets/Domain/Entities/Sources/User/UserStatus.swift
  client/Targets/Domain/Interfaces/Sources/Repository/StoryRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/StoryUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/StoryUseCase.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/Components/StoryHeaderView.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailBuilder.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailViewController.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorViewController.swift
Labels: 🔨 Feature, 📱 Client, 🐞 Fix

#313 StoryAPI DTO 네이밍 수정
  client/Targets/Data/Network/Story/Sources/DTO/AuthorResponseDTO.swift
  client/Targets/Data/Network/Story/Sources/DTO/StoryDetailResponseDTO.swift
  client/Targets/Data/Network/Story/Sources/DTO/StoryResponseDTO.swift
Labels: 🏗️ Enhancement, 📱 Client

#311 검색 전용 API 구현
  server/src/place/place.service.ts
  server/src/search/dto/search.result.dto.ts
  server/src/search/dto/story.result.dto.ts
  server/src/search/dto/user.result.dto.ts
  server/src/search/search.controller.ts
  server/src/search/search.service.ts
  server/src/search/trie/historyTrie.ts
  server/src/search/trie/placeTrie.ts
  server/src/search/trie/storyTrie.ts
  server/src/search/trie/userTrie.ts
  server/src/story/story.service.ts
  server/src/user/user.service.ts
Labels: 🔨 Feature, 🖥️ Server

#319 검색 결과 리턴 형태 수정
  server/src/search/dto/story.result.dto.ts
  server/src/search/search.controller.ts
  server/src/user/dto/user.response.dto.ts
  server/src/user/user.controller.ts
  server/src/user/user.service.ts
  server/src/util/story.entity.to.obj.ts
  server/src/util/user.entity.to.obj.ts
Labels: 🏗️ Enhancement, 🖥️ Server

#323 Search 리블렛의 이름 rename
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchCurrentLocationStoryList/SearchCurrentLocationStoryListBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchCurrentLocationStoryList/SearchCurrentLocationStoryListInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchCurrentLocationStoryList/SearchCurrentLocationStoryListRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchCurrentLocationStoryList/SearchCurrentLocationStoryListViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchCurrentLocationStoryList/Views/SearchCurrentLocationStoryListCell.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchMap/SearchMapBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchMap/SearchMapInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchMap/SearchMapRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchMap/SearchMapViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterStoryDashboard/SearchAfterStoryDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterStoryDashboard/SearchAfterStoryDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterStoryDashboard/SearchAfterStoryDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterStoryDashboard/SearchAfterStoryDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterStoryDashboard/Views/SearchAfterStoryView.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterUserDashboard/SearchAfterUserDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterUserDashboard/SearchAfterUserDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterUserDashboard/SearchAfterUserDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterUserDashboard/SearchAfterUserDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterUserDashboard/Views/SearchAfterUserView.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/Views/SearchAfterHeaderView.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/Views/SearchAfterSeeAllView.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeCategoryDashboard/SearchBeforeCategoryDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeCategoryDashboard/SearchBeforeCategoryDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeCategoryDashboard/SearchBeforeCategoryDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeCategoryDashboard/SearchBeforeCategoryDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeCategoryDashboard/Views/SearchBeforeCategoryView.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/SearchBeforeRecentSearchesDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/SearchBeforeRecentSearchesDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/SearchBeforeRecentSearchesDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/SearchBeforeRecentSearchesDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/Views/SearchBeforeRecentSearchesEmptyView.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeRecentSearchesDashboard/Views/SearchBeforeRecentSearchesView.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/View/SearchBeforeHeaderView.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchResultBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchResultInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchResultRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchResultViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchingDashboard/SearchingDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchingDashboard/SearchingDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchingDashboard/SearchingDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchingDashboard/SearchingDashboardViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchingDashboard/Views/SearchingRecommendCell.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/Views/SearchNavigationView.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/Views/SearchResultEmptyView.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHome/SearchHomeBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHomeList/SearchHomeListBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/SearchHomeList/SearchHomeListRouter.swift
Labels: 🏗️ Enhancement, 📱 Client

#326 스토리 컨트롤러 가드 적용
  server/src/user/user.service.ts
Labels: 🏗️ Enhancement, 🖥️ Server

#324 LocationPicker Naver 지도로 변경
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/LocationPickerView.swift
Labels: 🔨 Feature, 📱 Client

#327 DomainInterfaces 추가
  client/Targets/App/Sources/AppRoot/AppRootComponent.swift
  client/Targets/App/Sources/AppRoot/AppRootRouter.swift
  client/Targets/Core/CoreKit/Resources/APIResponseMock/Search/SearchRecommendResponseMock.json
  client/Targets/Core/CoreKit/Resources/APIResponseMock/Search/SearchStoryResponseMock.json
  client/Targets/Core/CoreKit/Resources/APIResponseMock/Search/SearchUserResponseMock.json
  client/Targets/Data/Network/Search/Sources/DTO/SearchRequestDTO.swift
  client/Targets/Data/Network/Search/Sources/DTO/SearchResultResponseDTO.swift
  client/Targets/Data/Network/Search/Sources/DTO/SearchStroyDTO.swift
  client/Targets/Data/Network/Search/Sources/DTO/SearchStroyResponseDTO.swift
  client/Targets/Data/Network/Search/Sources/DTO/SearchUserDTO.swift
  client/Targets/Data/Network/Search/Sources/DTO/SearchUserResponseDTO.swift
  client/Targets/Data/Network/Search/Sources/SearchAPI.swift
  client/Targets/Data/Network/Search/Sources/URLProtocols/SearchURLProtocol.swift
  client/Targets/Data/Network/Search/Sources/dummy.swift
  client/Targets/Data/Repositories/Sources/SearchRepository.swift
  client/Targets/Domain/Entities/Sources/Search/SearchResult.swift
  client/Targets/Domain/Entities/Sources/Search/SearchStory.swift
  client/Targets/Domain/Entities/Sources/Search/SearchUser.swift
  client/Targets/Domain/Interfaces/Sources/Repository/SearchRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Search/SearchCurrentLocationStoryListUseCaseInterface/SearchCurrentLocationStoryListUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Search/SearchMapUseCaseInterface/SearchMapUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Search/SearchResultUseCaseInterface/SearchResultUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Search/SearchResultUseCaseInterface/SearhResultSearchAfterUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Search/SearchResultUseCaseInterface/SearhResultSearchBeforeUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Search/SearchResultUseCaseInterface/SearhResultSearchingUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Search/SearchUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/SearchUseCase.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchCurrentLocationStoryList/SearchCurrentLocationStoryListBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchCurrentLocationStoryList/SearchCurrentLocationStoryListInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchMap/SearchMapBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchMap/SearchMapInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterUserDashboard/SearchAfterUserDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchAfterDashboard/SearchAfterUserDashboard/SearchAfterUserDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchBeforeDashboard/SearchBeforeDashboardRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchResultBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchResultRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchingDashboard/SearchingDashboardBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchingDashboard/SearchingDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchResult/SearchingDashboard/SearchingDashboardRouter.swift
Labels: 🏗️ Enhancement, 🔨 Feature, 📱 Client

#332 스토리 interface 추가
  client/Targets/App/Sources/AppRoot/AppRootComponent.swift
  client/Targets/App/Sources/AppRoot/AppRootRouter.swift
  client/Targets/Data/Network/Story/Sources/DTO/StoryDetailRequestDTO.swift
  client/Targets/Data/Network/Story/Sources/StoryAPI.swift
  client/Targets/Data/Network/Story/Sources/URLProtocols/StoryURLProtocol.swift
  client/Targets/Data/Repositories/Sources/StoryRepository.swift
  client/Targets/Domain/Interfaces/Sources/Repository/StoryRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/StoryUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/StoryUseCase.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryCreator/StoryCreatorBuilder.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryCreator/StoryCreatorInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryCreator/StoryCreatorRouter.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryCreator/StoryCreatorViewController.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailBuilder.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailRouter.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryDetail/StoryDetailViewController.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorBuilder.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorInteractor.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorRouter.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorViewController.swift
  client/Targets/Presentation/Story/Interfaces/Sources/Story.swift
  client/Targets/Presentation/Story/Interfaces/Sources/StoryInterface.swift
Labels: 🔨 Feature, 📱 Client

#333 Home API 변경
  client/Targets/Core/CoreKit/Resources/APIResponseMock/Home/HomeRecommendLocationResponseMock.json
  client/Targets/Core/CoreKit/Resources/APIResponseMock/Home/HomeRecommendResponseMock.json
  client/Targets/Data/Network/Home/Sources/DTO/RecommendLocationResponseDTO.swift
  client/Targets/Data/Network/Home/Sources/DTO/RecommendResponseDTO.swift
  client/Targets/Data/Repositories/Sources/HomeRepository.swift
  client/Targets/Domain/Entities/Sources/Home/HotPlace.swift
  client/Targets/Domain/Entities/Sources/Home/RecommendStory.swift
  client/Targets/Domain/Interfaces/Sources/Repository/HomeRepositoryInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Home/HotPlaceUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/HomeUseCase.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/HotPlaceDashboard/HomeHotPlaceDashboardInteractor.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/RecommendDashboard/HomeRecommendDashboardInteractor.swift
Labels: 🔨 Feature, 📱 Client

#337 스토리 생성 시 필요한 데이터 가져오기
  server/src/category/category.provider.ts
  server/src/category/category.repository.ts
  server/src/entities/category.entity.ts
  server/src/entities/story.entity.ts
  server/src/story/dto/story.create.dto.ts
  server/src/story/dto/story.create.meta.dto.ts
  server/src/story/dto/story.update.dto.ts
  server/src/story/story.controller.ts
  server/src/story/story.module.ts
  server/src/story/story.service.ts
  server/src/util/util.create.story.entity.ts
Labels: 🔨 Feature, 🖥️ Server

#335 카테고리 기반 검색 기능 구현
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.ts
  server/src/auth/jwt.strategy.ts
  server/src/search/dto/story.result.dto.ts
  server/src/search/search.controller.ts
  server/src/story/story.controller.ts
  server/src/story/story.repository.ts
  server/src/story/story.service.ts
  server/src/user/user.controller.ts
  server/src/util/story.entity.to.obj.ts
Labels: 🔨 Feature, 🖥️ Server

#336 스토리 에디터 auto layout 수정
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/AttributeField.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/ImageField.swift
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/StoryEditorViewController.swift
Labels: 📱 Client, 🐞 Fix

#341 스토리 생성 시 뱃지 경험치 증가 구현
  server/src/entities/badge.entity.ts
  server/src/story/story.module.ts
  server/src/story/story.service.ts
  server/src/user/user.controller.ts
  server/src/user/user.service.ts
Labels: 🔨 Feature, 🖥️ Server

#342 사용자의 Profile를 불러오는 로직 수정
  server/src/user/dto/user.profile.detail.data.dto.ts
  server/src/user/dto/user.profile.detail.story.dto.ts
  server/src/user/dto/user.update.dto.ts
  server/src/user/user.controller.ts
  server/src/user/user.service.ts
Labels: 🏗️ Enhancement, 🖥️ Server, 🐞 Fix

#344 ImageSelector가 live photo를 지원하도록 수정
  client/Targets/Presentation/Story/Implementations/Sources/StoryEditor/Components/ImageSelector.swift
Labels: 📱 Client, 🐞 Fix

#346 스토리 생성 시 필요한 데이터 필드 수정
  server/src/story/dto/story.create.meta.dto.ts
  server/src/story/story.service.ts
Labels: 🖥️ Server, 🐞 Fix

#343 위치 정보 서비스 추가
  client/Targets/App/Sources/App/AppDelegate.swift
  client/Targets/App/Sources/AppRoot/AppRootComponent.swift
  client/Targets/Data/Repositories/Sources/LocationService.swift
  client/Targets/Domain/Entities/Sources/Home/RecommendPlace.swift
  client/Targets/Domain/Interfaces/Sources/Repository/LocationServiceInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Home/RecommendUseCaseInterface.swift
  client/Targets/Domain/Interfaces/Sources/UseCase/Search/SearchMapUseCaseInterface/SearchMapUseCaseInterface.swift
  client/Targets/Domain/UseCases/Sources/HomeUseCase.swift
  client/Targets/Domain/UseCases/Sources/SearchUseCase.swift
  client/Targets/Presentation/BasePresentation/Sources/Common/AdaptivePresentationControllerDelegateAdapter.swift
  client/Targets/Presentation/Home/Implementations/Sources/Home/RecommendDashboard/HomeRecommendDashboardInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchMap/SearchMapBuilder.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchMap/SearchMapInteractor.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchMap/SearchMapRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchMap/SearchMapViewController.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchRouter.swift
  client/Targets/Presentation/Search/Implementations/Sources/Search/SearchViewController.swift
Labels: 🔨 Feature, 📱 Client
